/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark-d38a {
  /* No radius */
  --dsprimary-border-radius-border-radius-none: 0px;
  --dsprimary-border-radius-border-radius-small: 3px;
  --dsprimary-border-radius-border-radius-default: 5px;
  --dsprimary-border-radius-border-radius-medium: 7px;
  --dsprimary-border-radius-border-radius-large: 12px;
  /* Essentially a circle */
  --dsprimary-border-radius-border-radius-full: 999px;
}