/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark-d38a {
  --colorforegroundneutralfaded: #9da8bb;
  --colorforegroundplaceholder: #7f8694;
  --colorbackgroundneutralhighlighted: #d0e2ff14;
  --colorbackgroundpagefaded: #09122a;
  --colorbackgroundcritical: #e22c2c;
  --colorbackgroundpositive: #118850;
  --colorbackgroundblur: #fffffff2;
  --colorbackgroundblurneutral: #f4f5f7f2;
  --colorbackgroundblurneutralhighlighted: #ecedf0f2;
  --colorborderneutralfaded: #22273a;
  --colorbordercriticalfaded: #fbd5d8;
  --colorborderpositivefaded: #cdedd5;
  --colorborderupgradefaded: #e3dbfa;
  --colorborderdisabled: #dfe2ea;
  --colorborderfocus: #4589ff;
  --colordecorativecyanforeground: #0e7490;
  --colordecorativecyanbackground: #d5fbfe;
  --colordecorativecyanborder: #b6e9ec;
  --colordecorativefuchsiaforeground: #b725cb;
  --colordecorativefuchsiabackground: #fcf0ff;
  --colordecorativefuchsiaborder: #f3d6f9;
  --colordecorativegreenborder: #c9e6da;
  --colordecorativegreyforeground: #4e536a;
  --colordecorativegreybackground: #edeff3;
  --colordecorativegreyborder: #e1e4eb;
  --colordecorativelightgreyforeground: #68718d;
  --colordecorativelightgreybackground: #f6f7f9;
  --colordecorativelightgreyborder: #e3e4e9;
  --colordecorativeorangeforeground: #c2410c;
  --colordecorativeorangebackground: #fff2e1;
  --colordecorativeorangeborder: #f9dbaf;
  --colordecorativepinkforeground: #d12372;
  --colordecorativepinkbackground: #fdf0f7;
  --colordecorativepinkborder: #fad6ea;
  --colordecorativepurpleborder: #e4dbfa;
  --colordecorativeredborder: #fcd7da;
  --colordecorativetealforeground: #107a71;
  --colordecorativetealbackground: #e2fff8;
  --colordecorativetealborder: #cae5df;
  --colordecorativeyellowforeground: #a16207;
  --colordecorativeyellowbackground: #fffde7;
  --colordecorativeyellowborder: #efe991;
  --colorprimary200: #edf5ff;
  --colorprimary400: #d0e2ff;
  --colorprimary500: #8cb4ff;
  --colorprimary600: #0f62fe;
  --colorprimary700: #004ee1;
  --colorprimary800: #104fc6;
  --colorred100: #fef1f2;
  --colorred600: #cb101d;
  --colorwhite: #ffffff;
  --colorneutral100opaque: #141a2b05;
  --colorneutral200opaque: #182d660a;
  --colorneutral400: #606981;
  --colorneutral500: #c7cddb;
  --colorneutral900: #14171f;
  --colorgreen100: #ebfef6;
  --colorgreen600: #05751f;
  --colorpurple100: #f5f2fd;
  --colorpurple600: #874ce6;
  --colorpurple700: #6a2bbf;
  --colororange100: #fef8eb;
  --colororange200: #fbe5c5;
  --colororange500: #cc4d00;
  --colororange600: #b53c0a;
  --colorpalettegreen1100: #0e2a21;
  --colorpalettegreen1000: #1c4130;
  --colorpalettegreen900: #2d6944;
  --colorpalettegreen800: #3c884d;
  --colorpalettegreen700: #4ca45a;
  --colorpalettegreen600: #5ab261;
  --colorpalettegreen500: #78c767;
  --colorpalettegreen400: #8fda75;
  --colorpalettegreen300: #a9e297;
  --colorpalettegreen200: #ccf0c2;
  --colorpalettegreen100: #ddf3d9;
  --colorpalettegreen0: #eef9ec;
  --colorpaletteblue1100: #00213f;
  --colorpaletteblue1000: #18395d;
  --colorpaletteblue900: #245685;
  /* This is our new main color :) */
  --colorpaletteblue800: #306ca5;
  --colorpaletteblue700: #3a79bd;
  --colorpaletteblue600: #4587cd;
  --colorpaletteblue500: #5196dd;
  --colorpaletteblue400: #6aacef;
  --colorpaletteblue300: #aad2f4;
  --colorpaletteblue200: #cde3f7;
  --colorpaletteblue100: #e0f1fe;
  --colorpaletteblue0: #ecf8fe;
  /* Darkest aqua there is */
  --colorpaletteaqua1100: #0b2737;
  /* Slightly less aquatic, still deep as an ocean */
  --colorpaletteaqua1000: #193c4d;
  --colorpaletteaqua900: #265d71;
  --colorpaletteaqua800: #316c82;
  --colorpaletteaqua700: #3a8396;
  --colorpaletteaqua600: #4295ab;
  --colorpaletteaqua500: #54b5cb;
  --colorpaletteaqua400: #6ad3df;
  --colorpaletteaqua300: #91e2e1;
  --colorpaletteaqua200: #b5f0f1;
  --colorpaletteaqua100: #d0f7f8;
  --colorpaletteaqua0: #e0fbfb;
  --colorpalettepurple1100: #1d1e36;
  --colorpalettepurple1000: #2b2667;
  --colorpalettepurple900: #453e96;
  --colorpalettepurple800: #5a52b4;
  --colorpalettepurple700: #6b62cc;
  --colorpalettepurple600: #7d73e2;
  --colorpalettepurple500: #8d84ed;
  --colorpalettepurple400: #9e95ec;
  --colorpalettepurple300: #c0c2f3;
  --colorpalettepurple200: #d8d8f6;
  --colorpalettepurple100: #eaeaf8;
  --colorpalettepurple0: #f2f2f8;
  --colorpaletteneutral1100: #040404;
  --colorpaletteneutral1000: #182020;
  --colorpaletteneutral900: #293333;
  --colorpaletteneutral800: #384141;
  --colorpaletteneutral700: #545e5f;
  --colorpaletteneutral600: #70797a;
  --colorpaletteneutral500: #939a9b;
  --colorpaletteneutral400: #b1b6b7;
  --colorpaletteneutral300: #c9cccc;
  --colorpaletteneutral200: #dfe1e1;
  --colorpaletteneutral100: #f3f4f4;
  --colorpaletteneutral0: #ffffff;
  --colorpaletteteal1100: #0b2427;
  --colorpaletteteal1000: #1b3e3e;
  --colorpaletteteal900: #2a6461;
  --colorpaletteteal800: #357a7b;
  --colorpaletteteal700: #42948e;
  --colorpaletteteal600: #4aa69c;
  --colorpaletteteal500: #58c1b2;
  --colorpaletteteal400: #6addc6;
  --colorpaletteteal300: #97e7d5;
  --colorpaletteteal200: #c0f0e6;
  --colorpaletteteal100: #d5f6ef;
  --colorpaletteteal0: #e9f8f5;
  --colorpalettepink1100: #281821;
  --colorpalettepink1000: #4f1930;
  --colorpalettepink900: #872647;
  --colorpalettepink800: #a43b5b;
  --colorpalettepink700: #be4466;
  --colorpalettepink600: #cf517c;
  --colorpalettepink500: #de638b;
  --colorpalettepink400: #ee7fad;
  --colorpalettepink300: #f19bc0;
  --colorpalettepink200: #f4b8d4;
  --colorpalettepink100: #f7dcea;
  --colorpalettepink0: #fbeaf2;
  --colorpalettered1100: #281212;
  --colorpalettered1000: #641c18;
  --colorpalettered900: #8d2d28;
  --colorpalettered800: #b6403b;
  --colorpalettered700: #ca4b45;
  --colorpalettered600: #dc584a;
  --colorpalettered500: #e56a5b;
  --colorpalettered400: #ef8674;
  --colorpalettered300: #f1a193;
  --colorpalettered200: #f4bbb3;
  --colorpalettered100: #f8d7d3;
  --colorpalettered0: #fbebe9;
  --colorpaletteorange1100: #2a140f;
  --colorpaletteorange1000: #581d09;
  --colorpaletteorange900: #8a341a;
  --colorpaletteorange800: #bf5c29;
  --colorpaletteorange700: #de763a;
  --colorpaletteorange600: #e68246;
  --colorpaletteorange500: #ee8e53;
  --colorpaletteorange400: #f2a069;
  /* This is our main color. And this description will show inside the documentation */
  --colorpaletteorange300: #f4b388;
  --colorpaletteorange200: #f6c7a9;
  --colorpaletteorange100: #f7ddce;
  --colorpaletteorange0: #fceee4;
  --colorpaletteyellow1100: #2a1b08;
  --colorpaletteyellow1000: #4e2c0b;
  --colorpaletteyellow900: #8b4f1f;
  --colorpaletteyellow800: #b0772a;
  --colorpaletteyellow700: #d49b35;
  --colorpaletteyellow600: #f6be41;
  --colorpaletteyellow500: #f8ce4c;
  --colorpaletteyellow400: #fad961;
  --colorpaletteyellow300: #fbe17f;
  --colorpaletteyellow200: #fbe9a4;
  --colorpaletteyellow100: #fbeed1;
  --colorpaletteyellow0: #fef8e4;
  --colorpalettemagenta1100: #271a2c;
  --colorpalettemagenta1000: #3f1a4e;
  --colorpalettemagenta900: #642a73;
  --colorpalettemagenta800: #854091;
  --colorpalettemagenta700: #a04da3;
  --colorpalettemagenta600: #b659b4;
  --colorpalettemagenta500: #cc6bd5;
  --colorpalettemagenta400: #e38aef;
  --colorpalettemagenta300: #e3b1ee;
  --colorpalettemagenta200: #ecc7f4;
  --colorpalettemagenta100: #f5e4fa;
  --colorpalettemagenta0: #fcf0fe;
  --colorsemanticprimaryactivebackground: #453e96;
  --colorsemanticprimaryhoverbackground: #5a52b4;
  --colorsemanticprimaryhovercolor: #ffffff;
  --colorsemanticprimarybackground: #6b62cc;
  --colorsemanticprimarycolor: #ffffff;
  --colorsemantictextinverse: #ffffff;
  --colorsemantictextsubtext: #545e5f;
  --colorsemantictextheadline: #293333;
  --colorsemantictextbody: #384141;
  --colorsemanticerrorcolor: #b6403b;
  --colorsemanticerroricon: #b6403b;
  --colorsemanticerrorborder: #ef8674;
  --colorsemanticerrorbackground: #f8d7d3;
  --colorsemanticwarningcolor: #8b4f1f;
  --colorsemanticwarningicon: #ba7506;
  --colorsemanticwarningborder: #fad961;
  --colorsemanticwarningbackground: #fbeed1;
  --colorsemanticsuccesscolor: #2d6944;
  --colorsemanticsuccessicon: #3c884d;
  --colorsemanticsuccessborder: #8fda75;
  --colorsemanticsuccessbackground: #ddf3d9;
  --colorsemanticinfocolor: #3a79bd;
  --colorsemanticinfoicon: #306ca5;
  --colorsemanticinfoborder: #6aacef;
  --colorsemanticinfobackground: #e0f1fe;
  --colorsemanticopportunitycolor: #357a7b;
  --colorsemanticopportunityicon: #357a7b;
  --colorsemanticopportunityborder: #6addc6;
  --colorsemanticopportunitybackground: #d5f6ef;
  --colorsemanticprimaryinnactivebackground: #d8d8f6;
  --colorsemanticprimaryborder: #6b62cc;
  --colorsemanticprimaryhoverinnactivebackground: #c0c2f3;
  --colorsemanticsalesale70background: #ac7d13;
  --colorsemanticsalesale50background: #b51d4e;
  --colorsemanticsalesale30background: #5869c1;
  --colorsemanticsalecolor: #b7b7b7;
  --colordarkblue: #ff0000;
  --colorforegroundneutral: var(--colorwhite);
  --colorforegroundprimary: var(--colorprimary500);
  --colorforegroundcritical: var(--colorred600);
  --colorforegroundwarning: var(--colororange600);
  --colorforegroundpositive: var(--colorgreen600);
  --colorforegroundupgrade: var(--colorpurple600);
  --colorforegrounddisabled: #c7cddb;
  --colorbackgroundelevationbase: var(--colorneutral900);
  --colorbackgroundelevationraised: var(--colorneutral900);
  --colorbackgroundelevationoverlay: var(--colorneutral900);
  --colorbackgroundneutral: #d0e2ff0f;
  --colorbackgroundneutralfaded: #d0e2ff0a;
  --colorbackgroundpage: #040a1e;
  --colorbackgroundprimary: var(--colorprimary800);
  --colorbackgroundprimaryhighlighted: var(--colorprimary700);
  --colorbackgroundprimaryfaded: #004ee1;
  --colorbackgroundcriticalhighlighted: var(--colorred600);
  --colorbackgroundcriticalfaded: var(--colorred100);
  --colorbackgroundwarning: var(--colororange500);
  --colorbackgroundwarninghighlighted: var(--colororange600);
  --colorbackgroundwarningfaded: var(--colororange100);
  --colorbackgroundpositivehighlighted: var(--colorgreen600);
  --colorbackgroundpositivefaded: var(--colorgreen100);
  --colorbackgroundupgrade: var(--colorpurple600);
  --colorbackgroundupgradehighlighted: var(--colorpurple700);
  --colorbackgroundupgradefaded: #f5f2fd;
  --colorbackgrounddisabled: #d0e2ff12;
  --colorbackgrounddisabledfaded: var(--colorneutral100opaque);
  --colorbackgroundfocushighlight: var(--colorprimary400);
  --colorborderneutral: var(--colorneutral500);
  --colorborderprimary: var(--colorprimary700);
  --colorborderprimaryfaded: var(--colorprimary400);
  --colorbordercritical: var(--colorred600);
  --colorborderwarning: var(--colororange600);
  --colorborderwarningfaded: var(--colororange200);
  --colorborderpositive: var(--colorgreen600);
  --colorborderupgrade: var(--colorpurple700);
  --colorborderfocusfaded: var(--colorprimary400);
  --coloronbackgroundneutral: var(--colorwhite);
  --colorpersistentblack: var(--colorneutral900);
  --colordecorativeblueforeground: var(--colorprimary600);
  --colordecorativebluebackground: var(--colorprimary200);
  --colordecorativeblueborder: var(--colorprimary400);
  --colordecorativegreenforeground: var(--colorgreen600);
  --colordecorativegreenbackground: var(--colorgreen100);
  --coloronbackgroundprimary: var(--colorwhite);
  --coloronbackgroundcritical: var(--colorwhite);
  --coloronbackgroundwarning: var(--colorwhite);
  --coloronbackgroundpositive: var(--colorwhite);
  --coloronbackgroundupgrade: var(--colorwhite);
  --colorpersistentwhite: var(--colorwhite);
  --colordecorativepurpleforeground: var(--colorpurple600);
  --colordecorativepurplebackground: var(--colorpurple100);
  --colordecorativeredforeground: var(--colorred600);
  --colordecorativeredbackground: var(--colorred100);
}