/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark-d38a {
  --dsprimarycolorforegroundneutralfaded: #9da8bb;
  --dsprimarycolorforegroundplaceholder: #7f8694;
  --dsprimarycolorbackgroundneutralhighlighted: #d0e2ff14;
  --dsprimarycolorbackgroundpagefaded: #09122a;
  --dsprimarycolorbackgroundcritical: #e22c2c;
  --dsprimarycolorbackgroundpositive: #118850;
  --dsprimarycolorbackgroundblur: #fffffff2;
  --dsprimarycolorbackgroundblurneutral: #f4f5f7f2;
  --dsprimarycolorbackgroundblurneutralhighlighted: #ecedf0f2;
  --dsprimarycolorborderneutralfaded: #22273a;
  --dsprimarycolorbordercriticalfaded: #fbd5d8;
  --dsprimarycolorborderpositivefaded: #cdedd5;
  --dsprimarycolorborderupgradefaded: #e3dbfa;
  --dsprimarycolorborderdisabled: #dfe2ea;
  --dsprimarycolorborderfocus: #4589ff;
  --dsprimarycolordecorativecyanforeground: #0e7490;
  --dsprimarycolordecorativecyanbackground: #d5fbfe;
  --dsprimarycolordecorativecyanborder: #b6e9ec;
  --dsprimarycolordecorativefuchsiaforeground: #b725cb;
  --dsprimarycolordecorativefuchsiabackground: #fcf0ff;
  --dsprimarycolordecorativefuchsiaborder: #f3d6f9;
  --dsprimarycolordecorativegreenborder: #c9e6da;
  --dsprimarycolordecorativegreyforeground: #4e536a;
  --dsprimarycolordecorativegreybackground: #edeff3;
  --dsprimarycolordecorativegreyborder: #e1e4eb;
  --dsprimarycolordecorativelightgreyforeground: #68718d;
  --dsprimarycolordecorativelightgreybackground: #f6f7f9;
  --dsprimarycolordecorativelightgreyborder: #e3e4e9;
  --dsprimarycolordecorativeorangeforeground: #c2410c;
  --dsprimarycolordecorativeorangebackground: #fff2e1;
  --dsprimarycolordecorativeorangeborder: #f9dbaf;
  --dsprimarycolordecorativepinkforeground: #d12372;
  --dsprimarycolordecorativepinkbackground: #fdf0f7;
  --dsprimarycolordecorativepinkborder: #fad6ea;
  --dsprimarycolordecorativepurpleborder: #e4dbfa;
  --dsprimarycolordecorativeredborder: #fcd7da;
  --dsprimarycolordecorativetealforeground: #107a71;
  --dsprimarycolordecorativetealbackground: #e2fff8;
  --dsprimarycolordecorativetealborder: #cae5df;
  --dsprimarycolordecorativeyellowforeground: #a16207;
  --dsprimarycolordecorativeyellowbackground: #fffde7;
  --dsprimarycolordecorativeyellowborder: #efe991;
  --dsprimarycolorprimary200: #edf5ff;
  --dsprimarycolorprimary400: #d0e2ff;
  --dsprimarycolorprimary500: #8cb4ff;
  --dsprimarycolorprimary600: #0f62fe;
  --dsprimarycolorprimary700: #004ee1;
  --dsprimarycolorprimary800: #104fc6;
  --dsprimarycolorred100: #fef1f2;
  --dsprimarycolorred600: #cb101d;
  --dsprimarycolorwhite: #ffffff;
  --dsprimarycolorneutral100opaque: #141a2b05;
  --dsprimarycolorneutral200opaque: #182d660a;
  --dsprimarycolorneutral400: #606981;
  --dsprimarycolorneutral500: #c7cddb;
  --dsprimarycolorneutral900: #14171f;
  --dsprimarycolorgreen100: #ebfef6;
  --dsprimarycolorgreen600: #05751f;
  --dsprimarycolorpurple100: #f5f2fd;
  --dsprimarycolorpurple600: #874ce6;
  --dsprimarycolorpurple700: #6a2bbf;
  --dsprimarycolororange100: #fef8eb;
  --dsprimarycolororange200: #fbe5c5;
  --dsprimarycolororange500: #cc4d00;
  --dsprimarycolororange600: #b53c0a;
  --dsprimarycolorpalettegreen1100: #0e2a21;
  --dsprimarycolorpalettegreen1000: #1c4130;
  --dsprimarycolorpalettegreen900: #2d6944;
  --dsprimarycolorpalettegreen800: #3c884d;
  --dsprimarycolorpalettegreen700: #4ca45a;
  --dsprimarycolorpalettegreen600: #5ab261;
  --dsprimarycolorpalettegreen500: #78c767;
  --dsprimarycolorpalettegreen400: #8fda75;
  --dsprimarycolorpalettegreen300: #a9e297;
  --dsprimarycolorpalettegreen200: #ccf0c2;
  --dsprimarycolorpalettegreen100: #ddf3d9;
  --dsprimarycolorpalettegreen0: #eef9ec;
  --dsprimarycolorpaletteblue1100: #00213f;
  --dsprimarycolorpaletteblue1000: #18395d;
  --dsprimarycolorpaletteblue900: #245685;
  /* This is our new main color :) */
  --dsprimarycolorpaletteblue800: #306ca5;
  --dsprimarycolorpaletteblue700: #3a79bd;
  --dsprimarycolorpaletteblue600: #4587cd;
  --dsprimarycolorpaletteblue500: #5196dd;
  --dsprimarycolorpaletteblue400: #6aacef;
  --dsprimarycolorpaletteblue300: #aad2f4;
  --dsprimarycolorpaletteblue200: #cde3f7;
  --dsprimarycolorpaletteblue100: #e0f1fe;
  --dsprimarycolorpaletteblue0: #ecf8fe;
  /* Darkest aqua there is */
  --dsprimarycolorpaletteaqua1100: #0b2737;
  /* Slightly less aquatic, still deep as an ocean */
  --dsprimarycolorpaletteaqua1000: #193c4d;
  --dsprimarycolorpaletteaqua900: #265d71;
  --dsprimarycolorpaletteaqua800: #316c82;
  --dsprimarycolorpaletteaqua700: #3a8396;
  --dsprimarycolorpaletteaqua600: #4295ab;
  --dsprimarycolorpaletteaqua500: #54b5cb;
  --dsprimarycolorpaletteaqua400: #6ad3df;
  --dsprimarycolorpaletteaqua300: #91e2e1;
  --dsprimarycolorpaletteaqua200: #b5f0f1;
  --dsprimarycolorpaletteaqua100: #d0f7f8;
  --dsprimarycolorpaletteaqua0: #e0fbfb;
  --dsprimarycolorpalettepurple1100: #1d1e36;
  --dsprimarycolorpalettepurple1000: #2b2667;
  --dsprimarycolorpalettepurple900: #453e96;
  --dsprimarycolorpalettepurple800: #5a52b4;
  --dsprimarycolorpalettepurple700: #6b62cc;
  --dsprimarycolorpalettepurple600: #7d73e2;
  --dsprimarycolorpalettepurple500: #8d84ed;
  --dsprimarycolorpalettepurple400: #9e95ec;
  --dsprimarycolorpalettepurple300: #c0c2f3;
  --dsprimarycolorpalettepurple200: #d8d8f6;
  --dsprimarycolorpalettepurple100: #eaeaf8;
  --dsprimarycolorpalettepurple0: #f2f2f8;
  --dsprimarycolorpaletteneutral1100: #040404;
  --dsprimarycolorpaletteneutral1000: #182020;
  --dsprimarycolorpaletteneutral900: #293333;
  --dsprimarycolorpaletteneutral800: #384141;
  --dsprimarycolorpaletteneutral700: #545e5f;
  --dsprimarycolorpaletteneutral600: #70797a;
  --dsprimarycolorpaletteneutral500: #939a9b;
  --dsprimarycolorpaletteneutral400: #b1b6b7;
  --dsprimarycolorpaletteneutral300: #c9cccc;
  --dsprimarycolorpaletteneutral200: #dfe1e1;
  --dsprimarycolorpaletteneutral100: #f3f4f4;
  --dsprimarycolorpaletteneutral0: #ffffff;
  --dsprimarycolorpaletteteal1100: #0b2427;
  --dsprimarycolorpaletteteal1000: #1b3e3e;
  --dsprimarycolorpaletteteal900: #2a6461;
  --dsprimarycolorpaletteteal800: #357a7b;
  --dsprimarycolorpaletteteal700: #42948e;
  --dsprimarycolorpaletteteal600: #4aa69c;
  --dsprimarycolorpaletteteal500: #58c1b2;
  --dsprimarycolorpaletteteal400: #6addc6;
  --dsprimarycolorpaletteteal300: #97e7d5;
  --dsprimarycolorpaletteteal200: #c0f0e6;
  --dsprimarycolorpaletteteal100: #d5f6ef;
  --dsprimarycolorpaletteteal0: #e9f8f5;
  --dsprimarycolorpalettepink1100: #281821;
  --dsprimarycolorpalettepink1000: #4f1930;
  --dsprimarycolorpalettepink900: #872647;
  --dsprimarycolorpalettepink800: #a43b5b;
  --dsprimarycolorpalettepink700: #be4466;
  --dsprimarycolorpalettepink600: #cf517c;
  --dsprimarycolorpalettepink500: #de638b;
  --dsprimarycolorpalettepink400: #ee7fad;
  --dsprimarycolorpalettepink300: #f19bc0;
  --dsprimarycolorpalettepink200: #f4b8d4;
  --dsprimarycolorpalettepink100: #f7dcea;
  --dsprimarycolorpalettepink0: #fbeaf2;
  --dsprimarycolorpalettered1100: #281212;
  --dsprimarycolorpalettered1000: #641c18;
  --dsprimarycolorpalettered900: #8d2d28;
  --dsprimarycolorpalettered800: #b6403b;
  --dsprimarycolorpalettered700: #ca4b45;
  --dsprimarycolorpalettered600: #dc584a;
  --dsprimarycolorpalettered500: #e56a5b;
  --dsprimarycolorpalettered400: #ef8674;
  --dsprimarycolorpalettered300: #f1a193;
  --dsprimarycolorpalettered200: #f4bbb3;
  --dsprimarycolorpalettered100: #f8d7d3;
  --dsprimarycolorpalettered0: #fbebe9;
  --dsprimarycolorpaletteorange1100: #2a140f;
  --dsprimarycolorpaletteorange1000: #581d09;
  --dsprimarycolorpaletteorange900: #8a341a;
  --dsprimarycolorpaletteorange800: #bf5c29;
  --dsprimarycolorpaletteorange700: #de763a;
  --dsprimarycolorpaletteorange600: #e68246;
  --dsprimarycolorpaletteorange500: #ee8e53;
  --dsprimarycolorpaletteorange400: #f2a069;
  /* This is our main color. And this description will show inside the documentation */
  --dsprimarycolorpaletteorange300: #f4b388;
  --dsprimarycolorpaletteorange200: #f6c7a9;
  --dsprimarycolorpaletteorange100: #f7ddce;
  --dsprimarycolorpaletteorange0: #fceee4;
  --dsprimarycolorpaletteyellow1100: #2a1b08;
  --dsprimarycolorpaletteyellow1000: #4e2c0b;
  --dsprimarycolorpaletteyellow900: #8b4f1f;
  --dsprimarycolorpaletteyellow800: #b0772a;
  --dsprimarycolorpaletteyellow700: #d49b35;
  --dsprimarycolorpaletteyellow600: #f6be41;
  --dsprimarycolorpaletteyellow500: #f8ce4c;
  --dsprimarycolorpaletteyellow400: #fad961;
  --dsprimarycolorpaletteyellow300: #fbe17f;
  --dsprimarycolorpaletteyellow200: #fbe9a4;
  --dsprimarycolorpaletteyellow100: #fbeed1;
  --dsprimarycolorpaletteyellow0: #fef8e4;
  --dsprimarycolorpalettemagenta1100: #271a2c;
  --dsprimarycolorpalettemagenta1000: #3f1a4e;
  --dsprimarycolorpalettemagenta900: #642a73;
  --dsprimarycolorpalettemagenta800: #854091;
  --dsprimarycolorpalettemagenta700: #a04da3;
  --dsprimarycolorpalettemagenta600: #b659b4;
  --dsprimarycolorpalettemagenta500: #cc6bd5;
  --dsprimarycolorpalettemagenta400: #e38aef;
  --dsprimarycolorpalettemagenta300: #e3b1ee;
  --dsprimarycolorpalettemagenta200: #ecc7f4;
  --dsprimarycolorpalettemagenta100: #f5e4fa;
  --dsprimarycolorpalettemagenta0: #fcf0fe;
  --dsprimarycolorsemanticprimaryactivebackground: #453e96;
  --dsprimarycolorsemanticprimaryhoverbackground: #5a52b4;
  --dsprimarycolorsemanticprimaryhovercolor: #ffffff;
  --dsprimarycolorsemanticprimarybackground: #6b62cc;
  --dsprimarycolorsemanticprimarycolor: #ffffff;
  --dsprimarycolorsemantictextinverse: #ffffff;
  --dsprimarycolorsemantictextsubtext: #545e5f;
  --dsprimarycolorsemantictextheadline: #293333;
  --dsprimarycolorsemantictextbody: #384141;
  --dsprimarycolorsemanticerrorcolor: #b6403b;
  --dsprimarycolorsemanticerroricon: #b6403b;
  --dsprimarycolorsemanticerrorborder: #ef8674;
  --dsprimarycolorsemanticerrorbackground: #f8d7d3;
  --dsprimarycolorsemanticwarningcolor: #8b4f1f;
  --dsprimarycolorsemanticwarningicon: #ba7506;
  --dsprimarycolorsemanticwarningborder: #fad961;
  --dsprimarycolorsemanticwarningbackground: #fbeed1;
  --dsprimarycolorsemanticsuccesscolor: #2d6944;
  --dsprimarycolorsemanticsuccessicon: #3c884d;
  --dsprimarycolorsemanticsuccessborder: #8fda75;
  --dsprimarycolorsemanticsuccessbackground: #ddf3d9;
  --dsprimarycolorsemanticinfocolor: #3a79bd;
  --dsprimarycolorsemanticinfoicon: #306ca5;
  --dsprimarycolorsemanticinfoborder: #6aacef;
  --dsprimarycolorsemanticinfobackground: #e0f1fe;
  --dsprimarycolorsemanticopportunitycolor: #357a7b;
  --dsprimarycolorsemanticopportunityicon: #357a7b;
  --dsprimarycolorsemanticopportunityborder: #6addc6;
  --dsprimarycolorsemanticopportunitybackground: #d5f6ef;
  --dsprimarycolorsemanticprimaryinnactivebackground: #d8d8f6;
  --dsprimarycolorsemanticprimaryborder: #6b62cc;
  --dsprimarycolorsemanticprimaryhoverinnactivebackground: #c0c2f3;
  --dsprimarycolorsemanticsalesale70background: #ac7d13;
  --dsprimarycolorsemanticsalesale50background: #b51d4e;
  --dsprimarycolorsemanticsalesale30background: #5869c1;
  --dsprimarycolorsemanticsalecolor: #b7b7b7;
  --dsprimarycolordarkblue: #ff0000;
  --dsprimarycolorforegroundneutral: var(--dsprimarycolorwhite);
  --dsprimarycolorforegroundprimary: var(--dsprimarycolorprimary500);
  --dsprimarycolorforegroundcritical: var(--dsprimarycolorred600);
  --dsprimarycolorforegroundwarning: var(--dsprimarycolororange600);
  --dsprimarycolorforegroundpositive: var(--dsprimarycolorgreen600);
  --dsprimarycolorforegroundupgrade: var(--dsprimarycolorpurple600);
  --dsprimarycolorforegrounddisabled: #c7cddb;
  --dsprimarycolorbackgroundelevationbase: var(--dsprimarycolorneutral900);
  --dsprimarycolorbackgroundelevationraised: var(--dsprimarycolorneutral900);
  --dsprimarycolorbackgroundelevationoverlay: var(--dsprimarycolorneutral900);
  --dsprimarycolorbackgroundneutral: #d0e2ff0f;
  --dsprimarycolorbackgroundneutralfaded: #d0e2ff0a;
  --dsprimarycolorbackgroundpage: #040a1e;
  --dsprimarycolorbackgroundprimary: var(--dsprimarycolorprimary800);
  --dsprimarycolorbackgroundprimaryhighlighted: var(--dsprimarycolorprimary700);
  --dsprimarycolorbackgroundprimaryfaded: #004ee1;
  --dsprimarycolorbackgroundcriticalhighlighted: var(--dsprimarycolorred600);
  --dsprimarycolorbackgroundcriticalfaded: var(--dsprimarycolorred100);
  --dsprimarycolorbackgroundwarning: var(--dsprimarycolororange500);
  --dsprimarycolorbackgroundwarninghighlighted: var(--dsprimarycolororange600);
  --dsprimarycolorbackgroundwarningfaded: var(--dsprimarycolororange100);
  --dsprimarycolorbackgroundpositivehighlighted: var(--dsprimarycolorgreen600);
  --dsprimarycolorbackgroundpositivefaded: var(--dsprimarycolorgreen100);
  --dsprimarycolorbackgroundupgrade: var(--dsprimarycolorpurple600);
  --dsprimarycolorbackgroundupgradehighlighted: var(--dsprimarycolorpurple700);
  --dsprimarycolorbackgroundupgradefaded: #f5f2fd;
  --dsprimarycolorbackgrounddisabled: #d0e2ff12;
  --dsprimarycolorbackgrounddisabledfaded: var(--dsprimarycolorneutral100opaque);
  --dsprimarycolorbackgroundfocushighlight: var(--dsprimarycolorprimary400);
  --dsprimarycolorborderneutral: var(--dsprimarycolorneutral500);
  --dsprimarycolorborderprimary: var(--dsprimarycolorprimary700);
  --dsprimarycolorborderprimaryfaded: var(--dsprimarycolorprimary400);
  --dsprimarycolorbordercritical: var(--dsprimarycolorred600);
  --dsprimarycolorborderwarning: var(--dsprimarycolororange600);
  --dsprimarycolorborderwarningfaded: var(--dsprimarycolororange200);
  --dsprimarycolorborderpositive: var(--dsprimarycolorgreen600);
  --dsprimarycolorborderupgrade: var(--dsprimarycolorpurple700);
  --dsprimarycolorborderfocusfaded: var(--dsprimarycolorprimary400);
  --dsprimarycoloronbackgroundneutral: var(--dsprimarycolorwhite);
  --dsprimarycolorpersistentblack: var(--dsprimarycolorneutral900);
  --dsprimarycolordecorativeblueforeground: var(--dsprimarycolorprimary600);
  --dsprimarycolordecorativebluebackground: var(--dsprimarycolorprimary200);
  --dsprimarycolordecorativeblueborder: var(--dsprimarycolorprimary400);
  --dsprimarycolordecorativegreenforeground: var(--dsprimarycolorgreen600);
  --dsprimarycolordecorativegreenbackground: var(--dsprimarycolorgreen100);
  --dsprimarycoloronbackgroundprimary: var(--dsprimarycolorwhite);
  --dsprimarycoloronbackgroundcritical: var(--dsprimarycolorwhite);
  --dsprimarycoloronbackgroundwarning: var(--dsprimarycolorwhite);
  --dsprimarycoloronbackgroundpositive: var(--dsprimarycolorwhite);
  --dsprimarycoloronbackgroundupgrade: var(--dsprimarycolorwhite);
  --dsprimarycolorpersistentwhite: var(--dsprimarycolorwhite);
  --dsprimarycolordecorativepurpleforeground: var(--dsprimarycolorpurple600);
  --dsprimarycolordecorativepurplebackground: var(--dsprimarycolorpurple100);
  --dsprimarycolordecorativeredforeground: var(--dsprimarycolorred600);
  --dsprimarycolordecorativeredbackground: var(--dsprimarycolorred100);
}