/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark-d38a {
  --colorforegroundneutralfaded: rgb(157, 168, 187);
  --colorforegroundplaceholder: rgb(127, 134, 148);
  --colorbackgroundneutralhighlighted: rgb(208, 226, 255);
  --colorbackgroundpagefaded: rgb(9, 18, 42);
  --colorbackgroundcritical: rgb(226, 44, 44);
  --colorbackgroundpositive: rgb(17, 136, 80);
  --colorbackgroundblur: rgb(255, 255, 255);
  --colorbackgroundblurneutral: rgb(244, 245, 247);
  --colorbackgroundblurneutralhighlighted: rgb(236, 237, 240);
  --colorborderneutralfaded: rgb(34, 39, 58);
  --colorbordercriticalfaded: rgb(251, 213, 216);
  --colorborderpositivefaded: rgb(205, 237, 213);
  --colorborderupgradefaded: rgb(227, 219, 250);
  --colorborderdisabled: rgb(223, 226, 234);
  --colorborderfocus: rgb(69, 137, 255);
  --colordecorativecyanforeground: rgb(14, 116, 144);
  --colordecorativecyanbackground: rgb(213, 251, 254);
  --colordecorativecyanborder: rgb(182, 233, 236);
  --colordecorativefuchsiaforeground: rgb(183, 37, 203);
  --colordecorativefuchsiabackground: rgb(252, 240, 255);
  --colordecorativefuchsiaborder: rgb(243, 214, 249);
  --colordecorativegreenborder: rgb(201, 230, 218);
  --colordecorativegreyforeground: rgb(78, 83, 106);
  --colordecorativegreybackground: rgb(237, 239, 243);
  --colordecorativegreyborder: rgb(225, 228, 235);
  --colordecorativelightgreyforeground: rgb(104, 113, 141);
  --colordecorativelightgreybackground: rgb(246, 247, 249);
  --colordecorativelightgreyborder: rgb(227, 228, 233);
  --colordecorativeorangeforeground: rgb(194, 65, 12);
  --colordecorativeorangebackground: rgb(255, 242, 225);
  --colordecorativeorangeborder: rgb(249, 219, 175);
  --colordecorativepinkforeground: rgb(209, 35, 114);
  --colordecorativepinkbackground: rgb(253, 240, 247);
  --colordecorativepinkborder: rgb(250, 214, 234);
  --colordecorativepurpleborder: rgb(228, 219, 250);
  --colordecorativeredborder: rgb(252, 215, 218);
  --colordecorativetealforeground: rgb(16, 122, 113);
  --colordecorativetealbackground: rgb(226, 255, 248);
  --colordecorativetealborder: rgb(202, 229, 223);
  --colordecorativeyellowforeground: rgb(161, 98, 7);
  --colordecorativeyellowbackground: rgb(255, 253, 231);
  --colordecorativeyellowborder: rgb(239, 233, 145);
  --colorprimary200: rgb(237, 245, 255);
  --colorprimary400: rgb(208, 226, 255);
  --colorprimary500: rgb(140, 180, 255);
  --colorprimary600: rgb(15, 98, 254);
  --colorprimary700: rgb(0, 78, 225);
  --colorprimary800: rgb(16, 79, 198);
  --colorred100: rgb(254, 241, 242);
  --colorred600: rgb(203, 16, 29);
  --colorwhite: rgb(255, 255, 255);
  --colorneutral100opaque: rgb(20, 26, 43);
  --colorneutral200opaque: rgb(24, 45, 102);
  --colorneutral400: rgb(96, 105, 129);
  --colorneutral500: rgb(199, 205, 219);
  --colorneutral900: rgb(20, 23, 31);
  --colorgreen100: rgb(235, 254, 246);
  --colorgreen600: rgb(5, 117, 31);
  --colorpurple100: rgb(245, 242, 253);
  --colorpurple600: rgb(135, 76, 230);
  --colorpurple700: rgb(106, 43, 191);
  --colororange100: rgb(254, 248, 235);
  --colororange200: rgb(251, 229, 197);
  --colororange500: rgb(204, 77, 0);
  --colororange600: rgb(181, 60, 10);
  --colorpalettegreen1100: rgb(14, 42, 33);
  --colorpalettegreen1000: rgb(28, 65, 48);
  --colorpalettegreen900: rgb(45, 105, 68);
  --colorpalettegreen800: rgb(60, 136, 77);
  --colorpalettegreen700: rgb(76, 164, 90);
  --colorpalettegreen600: rgb(90, 178, 97);
  --colorpalettegreen500: rgb(120, 199, 103);
  --colorpalettegreen400: rgb(143, 218, 117);
  --colorpalettegreen300: rgb(169, 226, 151);
  --colorpalettegreen200: rgb(204, 240, 194);
  --colorpalettegreen100: rgb(221, 243, 217);
  --colorpalettegreen0: rgb(238, 249, 236);
  --colorpaletteblue1100: rgb(0, 33, 63);
  --colorpaletteblue1000: rgb(24, 57, 93);
  --colorpaletteblue900: rgb(36, 86, 133);
  /* This is our new main color :) */
  --colorpaletteblue800: rgb(48, 108, 165);
  --colorpaletteblue700: rgb(58, 121, 189);
  --colorpaletteblue600: rgb(69, 135, 205);
  --colorpaletteblue500: rgb(81, 150, 221);
  --colorpaletteblue400: rgb(106, 172, 239);
  --colorpaletteblue300: rgb(170, 210, 244);
  --colorpaletteblue200: rgb(205, 227, 247);
  --colorpaletteblue100: rgb(224, 241, 254);
  --colorpaletteblue0: rgb(236, 248, 254);
  /* Darkest aqua there is */
  --colorpaletteaqua1100: rgb(11, 39, 55);
  /* Slightly less aquatic, still deep as an ocean */
  --colorpaletteaqua1000: rgb(25, 60, 77);
  --colorpaletteaqua900: rgb(38, 93, 113);
  --colorpaletteaqua800: rgb(49, 108, 130);
  --colorpaletteaqua700: rgb(58, 131, 150);
  --colorpaletteaqua600: rgb(66, 149, 171);
  --colorpaletteaqua500: rgb(84, 181, 203);
  --colorpaletteaqua400: rgb(106, 211, 223);
  --colorpaletteaqua300: rgb(145, 226, 225);
  --colorpaletteaqua200: rgb(181, 240, 241);
  --colorpaletteaqua100: rgb(208, 247, 248);
  --colorpaletteaqua0: rgb(224, 251, 251);
  --colorpalettepurple1100: rgb(29, 30, 54);
  --colorpalettepurple1000: rgb(43, 38, 103);
  --colorpalettepurple900: rgb(69, 62, 150);
  --colorpalettepurple800: rgb(90, 82, 180);
  --colorpalettepurple700: rgb(107, 98, 204);
  --colorpalettepurple600: rgb(125, 115, 226);
  --colorpalettepurple500: rgb(141, 132, 237);
  --colorpalettepurple400: rgb(158, 149, 236);
  --colorpalettepurple300: rgb(192, 194, 243);
  --colorpalettepurple200: rgb(216, 216, 246);
  --colorpalettepurple100: rgb(234, 234, 248);
  --colorpalettepurple0: rgb(242, 242, 248);
  --colorpaletteneutral1100: rgb(4, 4, 4);
  --colorpaletteneutral1000: rgb(24, 32, 32);
  --colorpaletteneutral900: rgb(41, 51, 51);
  --colorpaletteneutral800: rgb(56, 65, 65);
  --colorpaletteneutral700: rgb(84, 94, 95);
  --colorpaletteneutral600: rgb(112, 121, 122);
  --colorpaletteneutral500: rgb(147, 154, 155);
  --colorpaletteneutral400: rgb(177, 182, 183);
  --colorpaletteneutral300: rgb(201, 204, 204);
  --colorpaletteneutral200: rgb(223, 225, 225);
  --colorpaletteneutral100: rgb(243, 244, 244);
  --colorpaletteneutral0: rgb(255, 255, 255);
  --colorpaletteteal1100: rgb(11, 36, 39);
  --colorpaletteteal1000: rgb(27, 62, 62);
  --colorpaletteteal900: rgb(42, 100, 97);
  --colorpaletteteal800: rgb(53, 122, 123);
  --colorpaletteteal700: rgb(66, 148, 142);
  --colorpaletteteal600: rgb(74, 166, 156);
  --colorpaletteteal500: rgb(88, 193, 178);
  --colorpaletteteal400: rgb(106, 221, 198);
  --colorpaletteteal300: rgb(151, 231, 213);
  --colorpaletteteal200: rgb(192, 240, 230);
  --colorpaletteteal100: rgb(213, 246, 239);
  --colorpaletteteal0: rgb(233, 248, 245);
  --colorpalettepink1100: rgb(40, 24, 33);
  --colorpalettepink1000: rgb(79, 25, 48);
  --colorpalettepink900: rgb(135, 38, 71);
  --colorpalettepink800: rgb(164, 59, 91);
  --colorpalettepink700: rgb(190, 68, 102);
  --colorpalettepink600: rgb(207, 81, 124);
  --colorpalettepink500: rgb(222, 99, 139);
  --colorpalettepink400: rgb(238, 127, 173);
  --colorpalettepink300: rgb(241, 155, 192);
  --colorpalettepink200: rgb(244, 184, 212);
  --colorpalettepink100: rgb(247, 220, 234);
  --colorpalettepink0: rgb(251, 234, 242);
  --colorpalettered1100: rgb(40, 18, 18);
  --colorpalettered1000: rgb(100, 28, 24);
  --colorpalettered900: rgb(141, 45, 40);
  --colorpalettered800: rgb(182, 64, 59);
  --colorpalettered700: rgb(202, 75, 69);
  --colorpalettered600: rgb(220, 88, 74);
  --colorpalettered500: rgb(229, 106, 91);
  --colorpalettered400: rgb(239, 134, 116);
  --colorpalettered300: rgb(241, 161, 147);
  --colorpalettered200: rgb(244, 187, 179);
  --colorpalettered100: rgb(248, 215, 211);
  --colorpalettered0: rgb(251, 235, 233);
  --colorpaletteorange1100: rgb(42, 20, 15);
  --colorpaletteorange1000: rgb(88, 29, 9);
  --colorpaletteorange900: rgb(138, 52, 26);
  --colorpaletteorange800: rgb(191, 92, 41);
  --colorpaletteorange700: rgb(222, 118, 58);
  --colorpaletteorange600: rgb(230, 130, 70);
  --colorpaletteorange500: rgb(238, 142, 83);
  --colorpaletteorange400: rgb(242, 160, 105);
  /* This is our main color. And this description will show inside the documentation */
  --colorpaletteorange300: rgb(244, 179, 136);
  --colorpaletteorange200: rgb(246, 199, 169);
  --colorpaletteorange100: rgb(247, 221, 206);
  --colorpaletteorange0: rgb(252, 238, 228);
  --colorpaletteyellow1100: rgb(42, 27, 8);
  --colorpaletteyellow1000: rgb(78, 44, 11);
  --colorpaletteyellow900: rgb(139, 79, 31);
  --colorpaletteyellow800: rgb(176, 119, 42);
  --colorpaletteyellow700: rgb(212, 155, 53);
  --colorpaletteyellow600: rgb(246, 190, 65);
  --colorpaletteyellow500: rgb(248, 206, 76);
  --colorpaletteyellow400: rgb(250, 217, 97);
  --colorpaletteyellow300: rgb(251, 225, 127);
  --colorpaletteyellow200: rgb(251, 233, 164);
  --colorpaletteyellow100: rgb(251, 238, 209);
  --colorpaletteyellow0: rgb(254, 248, 228);
  --colorpalettemagenta1100: rgb(39, 26, 44);
  --colorpalettemagenta1000: rgb(63, 26, 78);
  --colorpalettemagenta900: rgb(100, 42, 115);
  --colorpalettemagenta800: rgb(133, 64, 145);
  --colorpalettemagenta700: rgb(160, 77, 163);
  --colorpalettemagenta600: rgb(182, 89, 180);
  --colorpalettemagenta500: rgb(204, 107, 213);
  --colorpalettemagenta400: rgb(227, 138, 239);
  --colorpalettemagenta300: rgb(227, 177, 238);
  --colorpalettemagenta200: rgb(236, 199, 244);
  --colorpalettemagenta100: rgb(245, 228, 250);
  --colorpalettemagenta0: rgb(252, 240, 254);
  --colorsemanticprimaryactivebackground: rgb(69, 62, 150);
  --colorsemanticprimaryhoverbackground: rgb(90, 82, 180);
  --colorsemanticprimaryhovercolor: rgb(255, 255, 255);
  --colorsemanticprimarybackground: rgb(107, 98, 204);
  --colorsemanticprimarycolor: rgb(255, 255, 255);
  --colorsemantictextinverse: rgb(255, 255, 255);
  --colorsemantictextsubtext: rgb(84, 94, 95);
  --colorsemantictextheadline: rgb(41, 51, 51);
  --colorsemantictextbody: rgb(56, 65, 65);
  --colorsemanticerrorcolor: rgb(182, 64, 59);
  --colorsemanticerroricon: rgb(182, 64, 59);
  --colorsemanticerrorborder: rgb(239, 134, 116);
  --colorsemanticerrorbackground: rgb(248, 215, 211);
  --colorsemanticwarningcolor: rgb(139, 79, 31);
  --colorsemanticwarningicon: rgb(186, 117, 6);
  --colorsemanticwarningborder: rgb(250, 217, 97);
  --colorsemanticwarningbackground: rgb(251, 238, 209);
  --colorsemanticsuccesscolor: rgb(45, 105, 68);
  --colorsemanticsuccessicon: rgb(60, 136, 77);
  --colorsemanticsuccessborder: rgb(143, 218, 117);
  --colorsemanticsuccessbackground: rgb(221, 243, 217);
  --colorsemanticinfocolor: rgb(58, 121, 189);
  --colorsemanticinfoicon: rgb(48, 108, 165);
  --colorsemanticinfoborder: rgb(106, 172, 239);
  --colorsemanticinfobackground: rgb(224, 241, 254);
  --colorsemanticopportunitycolor: rgb(53, 122, 123);
  --colorsemanticopportunityicon: rgb(53, 122, 123);
  --colorsemanticopportunityborder: rgb(106, 221, 198);
  --colorsemanticopportunitybackground: rgb(213, 246, 239);
  --colorsemanticprimaryinnactivebackground: rgb(216, 216, 246);
  --colorsemanticprimaryborder: rgb(107, 98, 204);
  --colorsemanticprimaryhoverinnactivebackground: rgb(192, 194, 243);
  --colorsemanticsalesale70background: rgb(172, 125, 19);
  --colorsemanticsalesale50background: rgb(181, 29, 78);
  --colorsemanticsalesale30background: rgb(88, 105, 193);
  --colorsemanticsalecolor: rgb(183, 183, 183);
  --colordarkblue: rgb(255, 0, 0);
  --colorforegroundneutral: var(--colorwhite);
  --colorforegroundprimary: var(--colorprimary500);
  --colorforegroundcritical: var(--colorred600);
  --colorforegroundwarning: var(--colororange600);
  --colorforegroundpositive: var(--colorgreen600);
  --colorforegroundupgrade: var(--colorpurple600);
  --colorforegrounddisabled: rgb(199, 205, 219);
  --colorbackgroundelevationbase: var(--colorneutral900);
  --colorbackgroundelevationraised: var(--colorneutral900);
  --colorbackgroundelevationoverlay: var(--colorneutral900);
  --colorbackgroundneutral: rgb(208, 226, 255);
  --colorbackgroundneutralfaded: rgb(208, 226, 255);
  --colorbackgroundpage: rgb(4, 10, 30);
  --colorbackgroundprimary: var(--colorprimary800);
  --colorbackgroundprimaryhighlighted: var(--colorprimary700);
  --colorbackgroundprimaryfaded: rgb(0, 78, 225);
  --colorbackgroundcriticalhighlighted: var(--colorred600);
  --colorbackgroundcriticalfaded: var(--colorred100);
  --colorbackgroundwarning: var(--colororange500);
  --colorbackgroundwarninghighlighted: var(--colororange600);
  --colorbackgroundwarningfaded: var(--colororange100);
  --colorbackgroundpositivehighlighted: var(--colorgreen600);
  --colorbackgroundpositivefaded: var(--colorgreen100);
  --colorbackgroundupgrade: var(--colorpurple600);
  --colorbackgroundupgradehighlighted: var(--colorpurple700);
  --colorbackgroundupgradefaded: rgb(245, 242, 253);
  --colorbackgrounddisabled: rgb(208, 226, 255);
  --colorbackgrounddisabledfaded: var(--colorneutral100opaque);
  --colorbackgroundfocushighlight: var(--colorprimary400);
  --colorborderneutral: var(--colorneutral500);
  --colorborderprimary: var(--colorprimary700);
  --colorborderprimaryfaded: var(--colorprimary400);
  --colorbordercritical: var(--colorred600);
  --colorborderwarning: var(--colororange600);
  --colorborderwarningfaded: var(--colororange200);
  --colorborderpositive: var(--colorgreen600);
  --colorborderupgrade: var(--colorpurple700);
  --colorborderfocusfaded: var(--colorprimary400);
  --coloronbackgroundneutral: var(--colorwhite);
  --colorpersistentblack: var(--colorneutral900);
  --colordecorativeblueforeground: var(--colorprimary600);
  --colordecorativebluebackground: var(--colorprimary200);
  --colordecorativeblueborder: var(--colorprimary400);
  --colordecorativegreenforeground: var(--colorgreen600);
  --colordecorativegreenbackground: var(--colorgreen100);
  --coloronbackgroundprimary: var(--colorwhite);
  --coloronbackgroundcritical: var(--colorwhite);
  --coloronbackgroundwarning: var(--colorwhite);
  --coloronbackgroundpositive: var(--colorwhite);
  --coloronbackgroundupgrade: var(--colorwhite);
  --colorpersistentwhite: var(--colorwhite);
  --colordecorativepurpleforeground: var(--colorpurple600);
  --colordecorativepurplebackground: var(--colorpurple100);
  --colordecorativeredforeground: var(--colorred600);
  --colordecorativeredbackground: var(--colorred100);
}