/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark-d38a {
  --dimension-spacing-semantic-stack-gap: 1px;
  --dimension-shadow-focus-ring-width: 3px;
  --dimension-font-weight-bold: 640px;
}