/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark-d38a {
  --dsprimaryspacespacing0: 0px;
  --dsprimaryspacespacing2: 2px;
  --dsprimaryspacespacing4: 4px;
  --dsprimaryspacespacing8: 8px;
  --dsprimaryspacespacing12: 12px;
  --dsprimaryspacespacing16: 16px;
  --dsprimaryspacespacing20: 20px;
  --dsprimaryspacespacing24: 24px;
  --dsprimaryspacespacing28: 28px;
  --dsprimaryspacespacing32: 32px;
  --dsprimaryspacespacing36: 36px;
  --dsprimaryspacespacing40: 40px;
}