/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark-d38a {
  --dsprimarytypographyh1: 700 57px/64px "Advent Pro";
  --dsprimarytypographyh2: 700 43px/50px "Advent Pro";
  --dsprimarytypographyh3: 700 32px/40px "Advent Pro";
  --dsprimarytypographyh4: 700 24px/32px "Advent Pro";
  --dsprimarytypographyh5: 700 21px/29px "Advent Pro";
  --dsprimarytypographylargelead: 400 24px/32px "Advent Pro";
  --dsprimarytypographymediumlead: 400 21px/29px "Advent Pro";
  --dsprimarytypographybuttonlabel: 400 21px/29px "Advent Pro";
  --dsprimarytypographyparagraph: 400 18px/26px "Advent Pro";
  --dsprimarytypographysmallparagraph: 400 16px/24px "Advent Pro";
  --dsprimarytypographytinyparagraph: 400 12px/24px "Advent Pro";
  --dsprimarytypographysale: 700 24px/32px "Advent Pro";
  /* typewriter font test */
  --dsprimarytypographyimpactlabel: 400 13px "Impact Label";
  /* importing test */
  --dsprimarytypographypoppins: 400 13px "Poppins";
}