/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  /* No radius */
  --dsprimaryborderradiusborderradiusnone: 0px;
  --dsprimaryborderradiusborderradiussmall: 3px;
  --dsprimaryborderradiusborderradiusdefault: 5px;
  --dsprimaryborderradiusborderradiusmedium: 7px;
  --dsprimaryborderradiusborderradiuslarge: 12px;
  /* Essentially a circle */
  --dsprimaryborderradiusborderradiusfull: 999px;
}