/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --color-foreground-neutral-faded: #606981;
  --color-foreground-placeholder: #7f8694;
  --color-background-neutral-highlighted: #182d6614;
  --color-background-page-faded: #fafafa;
  --color-background-critical: #e22c2c;
  --color-background-positive: #118850;
  --color-background-blur: #fffffff2;
  --color-background-blur-neutral: #f4f5f7f2;
  --color-background-blur-neutral-highlighted: #ecedf0f2;
  --color-border-neutral-faded: #eceef3;
  --color-border-critical-faded: #fbd5d8;
  --color-border-positive-faded: #cdedd5;
  --color-border-upgrade-faded: #e3dbfa;
  --color-border-disabled: #dfe2ea;
  --color-border-focus: #4589ff;
  --color-decorative-cyan-foreground: #0e7490;
  --color-decorative-cyan-background: #d5fbfe;
  --color-decorative-cyan-border: #b6e9ec;
  --color-decorative-fuchsia-foreground: #b725cb;
  --color-decorative-fuchsia-background: #fcf0ff;
  --color-decorative-fuchsia-border: #f3d6f9;
  --color-decorative-green-border: #c9e6da;
  --color-decorative-grey-foreground: #4e536a;
  --color-decorative-grey-background: #edeff3;
  --color-decorative-grey-border: #e1e4eb;
  --color-decorative-light-grey-foreground: #68718d;
  --color-decorative-light-grey-background: #f6f7f9;
  --color-decorative-light-grey-border: #e3e4e9;
  --color-decorative-orange-foreground: #c2410c;
  --color-decorative-orange-background: #fff2e1;
  --color-decorative-orange-border: #f9dbaf;
  --color-decorative-pink-foreground: #d12372;
  --color-decorative-pink-background: #fdf0f7;
  --color-decorative-purple-border: #e4dbfa;
  --color-decorative-pink-border: #fad6ea;
  --color-decorative-red-border: #fcd7da;
  --color-decorative-teal-foreground: #107a71;
  --color-decorative-teal-background: #e2fff8;
  --color-decorative-teal-border: #cae5df;
  --color-decorative-yellow-foreground: #a16207;
  --color-decorative-yellow-background: #fffde7;
  --color-decorative-yellow-border: #efe991;
  --color-primary-primary-200: #edf5ff;
  --color-primary-primary-400: #d0e2ff;
  --color-primary-primary-500: #8cb4ff;
  --color-primary-primary-600: #0f62fe;
  --color-primary-primary-700: #004ee1;
  --color-primary-primary-800: #104fc6;
  --color-red-red-100: #fef1f2;
  --color-red-red-600: #cb101d;
  --color-white: #ffffff;
  --color-neutral-neutral-100-opaque: #141a2b05;
  --color-neutral-neutral-200-opaque: #182d660a;
  --color-neutral-neutral-400: #606981;
  --color-neutral-neutral-500: #c7cddb;
  --color-neutral-neutral-900: #14171f;
  --color-green-green-100: #ebfef6;
  --color-green-green-600: #05751f;
  --color-purple-purple-100: #f5f2fd;
  --color-purple-purple-600: #874ce6;
  --color-purple-purple-700: #6a2bbf;
  --color-orange-orange-100: #fef8eb;
  --color-orange-orange-200: #fbe5c5;
  --color-orange-orange-500: #cc4d00;
  --color-orange-orange-600: #b53c0a;
  --color-blue-200: #ffffff;
  --color-test: #5d2121;
  --color-test-1: #ffffff;
  --color-palette-green-green-1100: #0e2a21;
  --color-palette-green-green-1000: #1c4130;
  --color-palette-green-green-900: #2d6944;
  --color-palette-green-green-800: #3c884d;
  --color-palette-green-green-700: #4ca45a;
  --color-palette-green-green-600: #5ab261;
  --color-palette-green-green-500: #78c767;
  --color-palette-green-green-400: #8fda75;
  --color-palette-green-green-300: #a9e297;
  --color-palette-green-green-200: #ccf0c2;
  --color-palette-green-green-100: #ddf3d9;
  --color-palette-green-green-0: #eef9ec;
  --color-palette-blue-blue-1100: #00213f;
  --color-palette-blue-blue-1000: #18395d;
  --color-palette-blue-blue-900: #245685;
  /* This is our new main color :) */
  --color-palette-blue-blue-800: #306ca5;
  --color-palette-blue-blue-700: #3a79bd;
  --color-palette-blue-blue-600: #4587cd;
  --color-palette-blue-blue-500: #5196dd;
  --color-palette-blue-blue-400: #6aacef;
  --color-palette-blue-blue-300: #aad2f4;
  --color-palette-blue-blue-200: #cde3f7;
  --color-palette-blue-blue-100: #e0f1fe;
  --color-palette-blue-blue-0: #ecf8fe;
  /* Darkest aqua there is */
  --color-palette-aqua-aqua-1100: #0b2737;
  /* Slightly less aquatic, still deep as an ocean */
  --color-palette-aqua-aqua-1000: #193c4d;
  --color-palette-aqua-aqua-900: #265d71;
  --color-palette-aqua-aqua-800: #316c82;
  --color-palette-aqua-aqua-700: #3a8396;
  --color-palette-aqua-aqua-600: #4295ab;
  --color-palette-aqua-aqua-500: #54b5cb;
  --color-palette-aqua-aqua-400: #6ad3df;
  --color-palette-aqua-aqua-300: #91e2e1;
  --color-palette-aqua-aqua-200: #b5f0f1;
  --color-palette-aqua-aqua-100: #d0f7f8;
  --color-palette-aqua-aqua-0: #e0fbfb;
  --color-palette-purple-purple-1100: #1d1e36;
  --color-palette-purple-purple-1000: #2b2667;
  --color-palette-purple-purple-900: #453e96;
  --color-palette-purple-purple-800: #5a52b4;
  --color-palette-purple-purple-700: #6b62cc;
  --color-palette-purple-purple-600: #7d73e2;
  --color-palette-purple-purple-500: #8d84ed;
  --color-palette-purple-purple-400: #9e95ec;
  --color-palette-purple-purple-300: #c0c2f3;
  --color-palette-purple-purple-200: #d8d8f6;
  --color-palette-purple-purple-100: #eaeaf8;
  --color-palette-purple-purple-0: #f2f2f8;
  --color-palette-neutral-neutral-1100: #040404;
  --color-palette-neutral-neutral-1000: #182020;
  --color-palette-neutral-neutral-900: #293333;
  --color-palette-neutral-neutral-800: #384141;
  --color-palette-neutral-neutral-700: #545e5f;
  --color-palette-neutral-neutral-600: #70797a;
  --color-palette-neutral-neutral-500: #939a9b;
  --color-palette-neutral-neutral-400: #b1b6b7;
  --color-palette-neutral-neutral-300: #c9cccc;
  --color-palette-neutral-neutral-200: #dfe1e1;
  --color-palette-neutral-neutral-100: #f3f4f4;
  --color-palette-neutral-neutral-0: #ffffff;
  --color-palette-teal-teal-1100: #0b2427;
  --color-palette-teal-teal-1000: #1b3e3e;
  --color-palette-teal-teal-900: #2a6461;
  --color-palette-teal-teal-800: #357a7b;
  --color-palette-teal-teal-700: #42948e;
  --color-palette-teal-teal-600: #4aa69c;
  --color-palette-teal-teal-500: #58c1b2;
  --color-palette-teal-teal-400: #6addc6;
  --color-palette-teal-teal-300: #97e7d5;
  --color-palette-teal-teal-200: #c0f0e6;
  --color-palette-teal-teal-100: #d5f6ef;
  --color-palette-teal-teal-0: #e9f8f5;
  --color-palette-pink-pink-1100: #281821;
  --color-palette-pink-pink-1000: #4f1930;
  --color-palette-pink-pink-900: #872647;
  --color-palette-pink-pink-800: #a43b5b;
  --color-palette-pink-pink-700: #be4466;
  --color-palette-pink-pink-600: #cf517c;
  --color-palette-pink-pink-500: #de638b;
  --color-palette-pink-pink-400: #ee7fad;
  --color-palette-pink-pink-300: #f19bc0;
  --color-palette-pink-pink-200: #f4b8d4;
  --color-palette-pink-pink-100: #f7dcea;
  --color-palette-pink-pink-0: #fbeaf2;
  --color-palette-red-red-1100: #281212;
  --color-palette-red-red-1000: #641c18;
  --color-palette-red-red-900: #8d2d28;
  --color-palette-red-red-800: #b6403b;
  --color-palette-red-red-700: #ca4b45;
  --color-palette-red-red-600: #dc584a;
  --color-palette-red-red-500: #e56a5b;
  --color-palette-red-red-400: #ef8674;
  --color-palette-red-red-300: #f1a193;
  --color-palette-red-red-200: #f4bbb3;
  --color-palette-red-red-100: #f8d7d3;
  --color-palette-red-red-0: #fbebe9;
  --color-palette-orange-orange-1100: #2a140f;
  --color-palette-orange-orange-1000: #581d09;
  --color-palette-orange-orange-900: #8a341a;
  --color-palette-orange-orange-800: #bf5c29;
  --color-palette-orange-orange-700: #de763a;
  --color-palette-orange-orange-600: #e68246;
  --color-palette-orange-orange-500: #ee8e53;
  --color-palette-orange-orange-400: #f2a069;
  /* This is our main color. And this description will show inside the documentation */
  --color-palette-orange-orange-300: #f4b388;
  --color-palette-orange-orange-200: #f6c7a9;
  --color-palette-orange-orange-100: #f7ddce;
  --color-palette-orange-orange-0: #fceee4;
  --color-palette-yellow-yellow-1100: #2a1b08;
  --color-palette-yellow-yellow-1000: #4e2c0b;
  --color-palette-yellow-yellow-900: #8b4f1f;
  --color-palette-yellow-yellow-800: #b0772a;
  --color-palette-yellow-yellow-700: #d49b35;
  --color-palette-yellow-yellow-600: #f6be41;
  --color-palette-yellow-yellow-500: #f8ce4c;
  --color-palette-yellow-yellow-400: #fad961;
  --color-palette-yellow-yellow-300: #fbe17f;
  --color-palette-yellow-yellow-200: #fbe9a4;
  --color-palette-yellow-yellow-100: #fbeed1;
  --color-palette-yellow-yellow-0: #fef8e4;
  --color-palette-magenta-magenta-1100: #271a2c;
  --color-palette-magenta-magenta-1000: #3f1a4e;
  --color-palette-magenta-magenta-900: #642a73;
  --color-palette-magenta-magenta-800: #854091;
  --color-palette-magenta-magenta-700: #a04da3;
  --color-palette-magenta-magenta-600: #b659b4;
  --color-palette-magenta-magenta-500: #cc6bd5;
  --color-palette-magenta-magenta-400: #e38aef;
  --color-palette-magenta-magenta-300: #e3b1ee;
  --color-palette-magenta-magenta-200: #ecc7f4;
  --color-palette-magenta-magenta-100: #f5e4fa;
  --color-palette-magenta-magenta-0: #fcf0fe;
  --color-semantic-primary-primary-active-background: #453e96;
  --color-semantic-primary-primary-hover-background: #5a52b4;
  --color-semantic-primary-primary-hover-color: #ffffff;
  --color-semantic-primary-primary-background: #6b62cc;
  --color-semantic-primary-primary-color: #ffffff;
  --color-semantic-text-text-inverse: #ffffff;
  --color-semantic-text-text-subtext: #545e5f;
  --color-semantic-text-text-headline: #293333;
  --color-semantic-text-text-body: #384141;
  --color-semantic-error-error-color: #b6403b;
  --color-semantic-error-error-icon: #b6403b;
  --color-semantic-error-error-border: #ef8674;
  --color-semantic-error-error-background: #f8d7d3;
  --color-semantic-warning-warning-color: #8b4f1f;
  --color-semantic-warning-warning-icon: #ba7506;
  --color-semantic-warning-warning-border: #fad961;
  --color-semantic-warning-warning-background: #fbeed1;
  --color-semantic-success-success-color: #2d6944;
  --color-semantic-success-success-icon: #3c884d;
  --color-semantic-success-success-border: #8fda75;
  --color-semantic-success-success-background: #ddf3d9;
  --color-semantic-info-info-color: #3a79bd;
  --color-semantic-info-info-icon: #306ca5;
  --color-semantic-info-info-border: #6aacef;
  --color-semantic-info-info-background: #e0f1fe;
  --color-semantic-opportunity-opportunity-color: #357a7b;
  --color-semantic-opportunity-opportunity-icon: #357a7b;
  --color-semantic-opportunity-opportunity-border: #6addc6;
  --color-semantic-opportunity-opportunity-background: #d5f6ef;
  --color-semantic-primary-primary-innactive-background: #d8d8f6;
  --color-semantic-primary-primary-border: #6b62cc;
  --color-semantic-primary-hover-innactive-background: #c0c2f3;
  --color-semantic-sale-sale70-background: #ac7d13;
  --color-semantic-sale-sale50-background: #b51d4e;
  --color-semantic-sale-sale30-background: #5869c1;
  --color-semantic-sale-sale-color: #b7b7b7;
  --color-dark-blue: #ff0000;
  --color-test: #ffffff;
  --color-foreground-neutral: var(--color-neutral-neutral-900);
  --color-foreground-primary: var(--color-primary-primary-800);
  --color-foreground-critical: var(--color-red-red-600);
  --color-foreground-warning: var(--color-orange-orange-600);
  --color-foreground-positive: var(--color-green-green-600);
  --color-foreground-upgrade: var(--color-purple-purple-600);
  --color-foreground-disabled: var(--color-neutral-neutral-500);
  --color-background-elevation-base: var(--color-white);
  --color-background-elevation-raised: var(--color-white);
  --color-background-elevation-overlay: var(--color-white);
  --color-background-neutral: var(--color-neutral-neutral-200-opaque);
  --color-background-neutral-faded: var(--color-neutral-neutral-100-opaque);
  --color-background-page: var(--color-white);
  --color-background-primary: var(--color-primary-primary-800);
  --color-background-primary-highlighted: var(--color-primary-primary-700);
  --color-background-primary-faded: var(--color-primary-primary-200);
  --color-background-critical-highlighted: var(--color-red-red-600);
  --color-background-critical-faded: var(--color-red-red-100);
  --color-background-warning: var(--color-orange-orange-500);
  --color-background-warning-highlighted: var(--color-orange-orange-600);
  --color-background-warning-faded: var(--color-orange-orange-100);
  --color-background-positive-highlighted: var(--color-green-green-600);
  --color-background-positive-faded: var(--color-green-green-100);
  --color-background-upgrade: var(--color-purple-purple-600);
  --color-background-upgrade-highlighted: var(--color-purple-purple-700);
  --color-background-upgrade-faded: var(--color-purple-purple-100);
  --color-background-disabled: var(--color-neutral-neutral-200-opaque);
  --color-background-disabled-faded: var(--color-neutral-neutral-100-opaque);
  --color-background-focus-highlight: var(--color-primary-primary-400);
  --color-border-neutral: var(--color-neutral-neutral-500);
  --color-border-primary: var(--color-primary-primary-700);
  --color-border-primary-faded: var(--color-primary-primary-400);
  --color-border-critical: var(--color-red-red-600);
  --color-border-warning: var(--color-orange-orange-600);
  --color-border-warning-faded: var(--color-orange-orange-200);
  --color-border-positive: var(--color-green-green-600);
  --color-border-upgrade: var(--color-purple-purple-700);
  --color-border-focus-faded: var(--color-primary-primary-400);
  --color-on-background-neutral: var(--color-neutral-neutral-900);
  --color-persistent-black: var(--color-neutral-neutral-900);
  --color-decorative-blue-foreground: var(--color-primary-primary-600);
  --color-decorative-blue-background: var(--color-primary-primary-200);
  --color-decorative-blue-border: var(--color-primary-primary-400);
  --color-decorative-green-foreground: var(--color-green-green-600);
  --color-decorative-green-background: var(--color-green-green-100);
  --color-on-background-primary: var(--color-white);
  --color-on-background-critical: var(--color-white);
  --color-on-background-warning: var(--color-white);
  --color-on-background-positive: var(--color-white);
  --color-on-background-upgrade: var(--color-white);
  --color-persistent-white: var(--color-white);
  --color-decorative-purple-foreground: var(--color-purple-purple-600);
  --color-decorative-purple-background: var(--color-purple-purple-100);
  --color-decorative-red-foreground: var(--color-red-red-600);
  --color-decorative-red-background: var(--color-red-red-100);
}