/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --Color-Foreground-Neutral-Faded: rgb(96, 105, 129);
  --Color-Foreground-Placeholder: rgb(127, 134, 148);
  --Color-Background-Neutral-Highlighted: rgb(24, 45, 102);
  --Color-Background-Page-Faded: rgb(250, 250, 250);
  --Color-Background-Critical: rgb(226, 44, 44);
  --Color-Background-Positive: rgb(17, 136, 80);
  --Color-Background-Blur: rgb(255, 255, 255);
  --Color-Background-Blur-Neutral: rgb(244, 245, 247);
  --Color-Background-Blur-Neutral-Highlighted: rgb(236, 237, 240);
  --Color-Border-Neutral-Faded: rgb(236, 238, 243);
  --Color-Border-Critical-Faded: rgb(251, 213, 216);
  --Color-Border-Positive-Faded: rgb(205, 237, 213);
  --Color-Border-Upgrade-Faded: rgb(227, 219, 250);
  --Color-Border-Disabled: rgb(223, 226, 234);
  --Color-Border-Focus: rgb(69, 137, 255);
  --Color-Decorative-Cyan-Foreground: rgb(14, 116, 144);
  --Color-Decorative-Cyan-Background: rgb(213, 251, 254);
  --Color-Decorative-Cyan-Border: rgb(182, 233, 236);
  --Color-Decorative-Fuchsia-Foreground: rgb(183, 37, 203);
  --Color-Decorative-Fuchsia-Background: rgb(252, 240, 255);
  --Color-Decorative-Fuchsia-Border: rgb(243, 214, 249);
  --Color-Decorative-Green-Border: rgb(201, 230, 218);
  --Color-Decorative-Grey-Foreground: rgb(78, 83, 106);
  --Color-Decorative-Grey-Background: rgb(237, 239, 243);
  --Color-Decorative-Grey-Border: rgb(225, 228, 235);
  --Color-Decorative-Light-Grey-Foreground: rgb(104, 113, 141);
  --Color-Decorative-Light-Grey-Background: rgb(246, 247, 249);
  --Color-Decorative-Light-Grey-Border: rgb(227, 228, 233);
  --Color-Decorative-Orange-Foreground: rgb(194, 65, 12);
  --Color-Decorative-Orange-Background: rgb(255, 242, 225);
  --Color-Decorative-Orange-Border: rgb(249, 219, 175);
  --Color-Decorative-Pink-Foreground: rgb(209, 35, 114);
  --Color-Decorative-Pink-Background: rgb(253, 240, 247);
  --Color-Decorative-Purple-Border: rgb(228, 219, 250);
  --Color-Decorative-Pink-Border: rgb(250, 214, 234);
  --Color-Decorative-Red-Border: rgb(252, 215, 218);
  --Color-Decorative-Teal-Foreground: rgb(16, 122, 113);
  --Color-Decorative-Teal-Background: rgb(226, 255, 248);
  --Color-Decorative-Teal-Border: rgb(202, 229, 223);
  --Color-Decorative-Yellow-Foreground: rgb(161, 98, 7);
  --Color-Decorative-Yellow-Background: rgb(255, 253, 231);
  --Color-Decorative-Yellow-Border: rgb(239, 233, 145);
  --Color-Primary-Primary-200: rgb(237, 245, 255);
  --Color-Primary-Primary-400: rgb(208, 226, 255);
  --Color-Primary-Primary-500: rgb(140, 180, 255);
  --Color-Primary-Primary-600: rgb(15, 98, 254);
  --Color-Primary-Primary-700: rgb(0, 78, 225);
  --Color-Primary-Primary-800: rgb(16, 79, 198);
  --Color-Red-Red-100: rgb(254, 241, 242);
  --Color-Red-Red-600: rgb(203, 16, 29);
  --Color-White: rgb(255, 255, 255);
  --Color-Neutral-Neutral-100-Opaque: rgb(20, 26, 43);
  --Color-Neutral-Neutral-200-Opaque: rgb(24, 45, 102);
  --Color-Neutral-Neutral-400: rgb(96, 105, 129);
  --Color-Neutral-Neutral-500: rgb(199, 205, 219);
  --Color-Neutral-Neutral-900: rgb(20, 23, 31);
  --Color-Green-Green-100: rgb(235, 254, 246);
  --Color-Green-Green-600: rgb(5, 117, 31);
  --Color-Purple-Purple-100: rgb(245, 242, 253);
  --Color-Purple-Purple-600: rgb(135, 76, 230);
  --Color-Purple-Purple-700: rgb(106, 43, 191);
  --Color-Orange-Orange-100: rgb(254, 248, 235);
  --Color-Orange-Orange-200: rgb(251, 229, 197);
  --Color-Orange-Orange-500: rgb(204, 77, 0);
  --Color-Orange-Orange-600: rgb(181, 60, 10);
  --Color-Blue-200: rgb(255, 255, 255);
  --Color-Test: rgb(93, 33, 33);
  --Color-Test-1: rgb(255, 255, 255);
  --Color-Palette-Green-Green-1100: rgb(14, 42, 33);
  --Color-Palette-Green-Green-1000: rgb(28, 65, 48);
  --Color-Palette-Green-Green-900: rgb(45, 105, 68);
  --Color-Palette-Green-Green-800: rgb(60, 136, 77);
  --Color-Palette-Green-Green-700: rgb(76, 164, 90);
  --Color-Palette-Green-Green-600: rgb(90, 178, 97);
  --Color-Palette-Green-Green-500: rgb(120, 199, 103);
  --Color-Palette-Green-Green-400: rgb(143, 218, 117);
  --Color-Palette-Green-Green-300: rgb(169, 226, 151);
  --Color-Palette-Green-Green-200: rgb(204, 240, 194);
  --Color-Palette-Green-Green-100: rgb(221, 243, 217);
  --Color-Palette-Green-Green-0: rgb(238, 249, 236);
  --Color-Palette-Blue-Blue-1100: rgb(0, 33, 63);
  --Color-Palette-Blue-Blue-1000: rgb(24, 57, 93);
  --Color-Palette-Blue-Blue-900: rgb(36, 86, 133);
  /* This is our new main color :) */
  --Color-Palette-Blue-Blue-800: rgb(48, 108, 165);
  --Color-Palette-Blue-Blue-700: rgb(58, 121, 189);
  --Color-Palette-Blue-Blue-600: rgb(69, 135, 205);
  --Color-Palette-Blue-Blue-500: rgb(81, 150, 221);
  --Color-Palette-Blue-Blue-400: rgb(106, 172, 239);
  --Color-Palette-Blue-Blue-300: rgb(170, 210, 244);
  --Color-Palette-Blue-Blue-200: rgb(205, 227, 247);
  --Color-Palette-Blue-Blue-100: rgb(224, 241, 254);
  --Color-Palette-Blue-Blue-0: rgb(236, 248, 254);
  /* Darkest aqua there is */
  --Color-Palette-Aqua-Aqua-1100: rgb(11, 39, 55);
  /* Slightly less aquatic, still deep as an ocean */
  --Color-Palette-Aqua-Aqua-1000: rgb(25, 60, 77);
  --Color-Palette-Aqua-Aqua-900: rgb(38, 93, 113);
  --Color-Palette-Aqua-Aqua-800: rgb(49, 108, 130);
  --Color-Palette-Aqua-Aqua-700: rgb(58, 131, 150);
  --Color-Palette-Aqua-Aqua-600: rgb(66, 149, 171);
  --Color-Palette-Aqua-Aqua-500: rgb(84, 181, 203);
  --Color-Palette-Aqua-Aqua-400: rgb(106, 211, 223);
  --Color-Palette-Aqua-Aqua-300: rgb(145, 226, 225);
  --Color-Palette-Aqua-Aqua-200: rgb(181, 240, 241);
  --Color-Palette-Aqua-Aqua-100: rgb(208, 247, 248);
  --Color-Palette-Aqua-Aqua-0: rgb(224, 251, 251);
  --Color-Palette-Purple-Purple-1100: rgb(29, 30, 54);
  --Color-Palette-Purple-Purple-1000: rgb(43, 38, 103);
  --Color-Palette-Purple-Purple-900: rgb(69, 62, 150);
  --Color-Palette-Purple-Purple-800: rgb(90, 82, 180);
  --Color-Palette-Purple-Purple-700: rgb(107, 98, 204);
  --Color-Palette-Purple-Purple-600: rgb(125, 115, 226);
  --Color-Palette-Purple-Purple-500: rgb(141, 132, 237);
  --Color-Palette-Purple-Purple-400: rgb(158, 149, 236);
  --Color-Palette-Purple-Purple-300: rgb(192, 194, 243);
  --Color-Palette-Purple-Purple-200: rgb(216, 216, 246);
  --Color-Palette-Purple-Purple-100: rgb(234, 234, 248);
  --Color-Palette-Purple-Purple-0: rgb(242, 242, 248);
  --Color-Palette-Neutral-Neutral-1100: rgb(4, 4, 4);
  --Color-Palette-Neutral-Neutral-1000: rgb(24, 32, 32);
  --Color-Palette-Neutral-Neutral-900: rgb(41, 51, 51);
  --Color-Palette-Neutral-Neutral-800: rgb(56, 65, 65);
  --Color-Palette-Neutral-Neutral-700: rgb(84, 94, 95);
  --Color-Palette-Neutral-Neutral-600: rgb(112, 121, 122);
  --Color-Palette-Neutral-Neutral-500: rgb(147, 154, 155);
  --Color-Palette-Neutral-Neutral-400: rgb(177, 182, 183);
  --Color-Palette-Neutral-Neutral-300: rgb(201, 204, 204);
  --Color-Palette-Neutral-Neutral-200: rgb(223, 225, 225);
  --Color-Palette-Neutral-Neutral-100: rgb(243, 244, 244);
  --Color-Palette-Neutral-Neutral-0: rgb(255, 255, 255);
  --Color-Palette-Teal-Teal-1100: rgb(11, 36, 39);
  --Color-Palette-Teal-Teal-1000: rgb(27, 62, 62);
  --Color-Palette-Teal-Teal-900: rgb(42, 100, 97);
  --Color-Palette-Teal-Teal-800: rgb(53, 122, 123);
  --Color-Palette-Teal-Teal-700: rgb(66, 148, 142);
  --Color-Palette-Teal-Teal-600: rgb(74, 166, 156);
  --Color-Palette-Teal-Teal-500: rgb(88, 193, 178);
  --Color-Palette-Teal-Teal-400: rgb(106, 221, 198);
  --Color-Palette-Teal-Teal-300: rgb(151, 231, 213);
  --Color-Palette-Teal-Teal-200: rgb(192, 240, 230);
  --Color-Palette-Teal-Teal-100: rgb(213, 246, 239);
  --Color-Palette-Teal-Teal-0: rgb(233, 248, 245);
  --Color-Palette-Pink-Pink-1100: rgb(40, 24, 33);
  --Color-Palette-Pink-Pink-1000: rgb(79, 25, 48);
  --Color-Palette-Pink-Pink-900: rgb(135, 38, 71);
  --Color-Palette-Pink-Pink-800: rgb(164, 59, 91);
  --Color-Palette-Pink-Pink-700: rgb(190, 68, 102);
  --Color-Palette-Pink-Pink-600: rgb(207, 81, 124);
  --Color-Palette-Pink-Pink-500: rgb(222, 99, 139);
  --Color-Palette-Pink-Pink-400: rgb(238, 127, 173);
  --Color-Palette-Pink-Pink-300: rgb(241, 155, 192);
  --Color-Palette-Pink-Pink-200: rgb(244, 184, 212);
  --Color-Palette-Pink-Pink-100: rgb(247, 220, 234);
  --Color-Palette-Pink-Pink-0: rgb(251, 234, 242);
  --Color-Palette-Red-Red-1100: rgb(40, 18, 18);
  --Color-Palette-Red-Red-1000: rgb(100, 28, 24);
  --Color-Palette-Red-Red-900: rgb(141, 45, 40);
  --Color-Palette-Red-Red-800: rgb(182, 64, 59);
  --Color-Palette-Red-Red-700: rgb(202, 75, 69);
  --Color-Palette-Red-Red-600: rgb(220, 88, 74);
  --Color-Palette-Red-Red-500: rgb(229, 106, 91);
  --Color-Palette-Red-Red-400: rgb(239, 134, 116);
  --Color-Palette-Red-Red-300: rgb(241, 161, 147);
  --Color-Palette-Red-Red-200: rgb(244, 187, 179);
  --Color-Palette-Red-Red-100: rgb(248, 215, 211);
  --Color-Palette-Red-Red-0: rgb(251, 235, 233);
  --Color-Palette-Orange-Orange-1100: rgb(42, 20, 15);
  --Color-Palette-Orange-Orange-1000: rgb(88, 29, 9);
  --Color-Palette-Orange-Orange-900: rgb(138, 52, 26);
  --Color-Palette-Orange-Orange-800: rgb(191, 92, 41);
  --Color-Palette-Orange-Orange-700: rgb(222, 118, 58);
  --Color-Palette-Orange-Orange-600: rgb(230, 130, 70);
  --Color-Palette-Orange-Orange-500: rgb(238, 142, 83);
  --Color-Palette-Orange-Orange-400: rgb(242, 160, 105);
  /* This is our main color. And this description will show inside the documentation */
  --Color-Palette-Orange-Orange-300: rgb(244, 179, 136);
  --Color-Palette-Orange-Orange-200: rgb(246, 199, 169);
  --Color-Palette-Orange-Orange-100: rgb(247, 221, 206);
  --Color-Palette-Orange-Orange-0: rgb(252, 238, 228);
  --Color-Palette-Yellow-Yellow-1100: rgb(42, 27, 8);
  --Color-Palette-Yellow-Yellow-1000: rgb(78, 44, 11);
  --Color-Palette-Yellow-Yellow-900: rgb(139, 79, 31);
  --Color-Palette-Yellow-Yellow-800: rgb(176, 119, 42);
  --Color-Palette-Yellow-Yellow-700: rgb(212, 155, 53);
  --Color-Palette-Yellow-Yellow-600: rgb(246, 190, 65);
  --Color-Palette-Yellow-Yellow-500: rgb(248, 206, 76);
  --Color-Palette-Yellow-Yellow-400: rgb(250, 217, 97);
  --Color-Palette-Yellow-Yellow-300: rgb(251, 225, 127);
  --Color-Palette-Yellow-Yellow-200: rgb(251, 233, 164);
  --Color-Palette-Yellow-Yellow-100: rgb(251, 238, 209);
  --Color-Palette-Yellow-Yellow-0: rgb(254, 248, 228);
  --Color-Palette-Magenta-Magenta-1100: rgb(39, 26, 44);
  --Color-Palette-Magenta-Magenta-1000: rgb(63, 26, 78);
  --Color-Palette-Magenta-Magenta-900: rgb(100, 42, 115);
  --Color-Palette-Magenta-Magenta-800: rgb(133, 64, 145);
  --Color-Palette-Magenta-Magenta-700: rgb(160, 77, 163);
  --Color-Palette-Magenta-Magenta-600: rgb(182, 89, 180);
  --Color-Palette-Magenta-Magenta-500: rgb(204, 107, 213);
  --Color-Palette-Magenta-Magenta-400: rgb(227, 138, 239);
  --Color-Palette-Magenta-Magenta-300: rgb(227, 177, 238);
  --Color-Palette-Magenta-Magenta-200: rgb(236, 199, 244);
  --Color-Palette-Magenta-Magenta-100: rgb(245, 228, 250);
  --Color-Palette-Magenta-Magenta-0: rgb(252, 240, 254);
  --Color-Semantic-Primary-Primary-Active-Background: rgb(69, 62, 150);
  --Color-Semantic-Primary-Primary-Hover-Background: rgb(90, 82, 180);
  --Color-Semantic-Primary-Primary-Hover-Color: rgb(255, 255, 255);
  --Color-Semantic-Primary-Primary-Background: rgb(107, 98, 204);
  --Color-Semantic-Primary-Primary-Color: rgb(255, 255, 255);
  --Color-Semantic-Text-Text-Inverse: rgb(255, 255, 255);
  --Color-Semantic-Text-Text-Subtext: rgb(84, 94, 95);
  --Color-Semantic-Text-Text-Headline: rgb(41, 51, 51);
  --Color-Semantic-Text-Text-Body: rgb(56, 65, 65);
  --Color-Semantic-Error-Error-Color: rgb(182, 64, 59);
  --Color-Semantic-Error-Error-Icon: rgb(182, 64, 59);
  --Color-Semantic-Error-Error-Border: rgb(239, 134, 116);
  --Color-Semantic-Error-Error-Background: rgb(248, 215, 211);
  --Color-Semantic-Warning-Warning-Color: rgb(139, 79, 31);
  --Color-Semantic-Warning-Warning-Icon: rgb(186, 117, 6);
  --Color-Semantic-Warning-Warning-Border: rgb(250, 217, 97);
  --Color-Semantic-Warning-Warning-Background: rgb(251, 238, 209);
  --Color-Semantic-Success-Success-Color: rgb(45, 105, 68);
  --Color-Semantic-Success-Success-Icon: rgb(60, 136, 77);
  --Color-Semantic-Success-Success-Border: rgb(143, 218, 117);
  --Color-Semantic-Success-Success-Background: rgb(221, 243, 217);
  --Color-Semantic-Info-Info-Color: rgb(58, 121, 189);
  --Color-Semantic-Info-Info-Icon: rgb(48, 108, 165);
  --Color-Semantic-Info-Info-Border: rgb(106, 172, 239);
  --Color-Semantic-Info-Info-Background: rgb(224, 241, 254);
  --Color-Semantic-Opportunity-Opportunity-Color: rgb(53, 122, 123);
  --Color-Semantic-Opportunity-Opportunity-Icon: rgb(53, 122, 123);
  --Color-Semantic-Opportunity-Opportunity-Border: rgb(106, 221, 198);
  --Color-Semantic-Opportunity-Opportunity-Background: rgb(213, 246, 239);
  --Color-Semantic-Primary-Primary-Innactive-Background: rgb(216, 216, 246);
  --Color-Semantic-Primary-Primary-Border: rgb(107, 98, 204);
  --Color-Semantic-Primary-Hover-Innactive-Background: rgb(192, 194, 243);
  --Color-Semantic-Sale-Sale70-Background: rgb(172, 125, 19);
  --Color-Semantic-Sale-Sale50-Background: rgb(181, 29, 78);
  --Color-Semantic-Sale-Sale30-Background: rgb(88, 105, 193);
  --Color-Semantic-Sale-Sale-Color: rgb(183, 183, 183);
  --Color-Dark-Blue: rgb(255, 0, 0);
  --Color-Test: rgb(255, 255, 255);
  --Color-Foreground-Neutral: var(--Color-Neutral-Neutral-900);
  --Color-Foreground-Primary: var(--Color-Primary-Primary-800);
  --Color-Foreground-Critical: var(--Color-Red-Red-600);
  --Color-Foreground-Warning: var(--Color-Orange-Orange-600);
  --Color-Foreground-Positive: var(--Color-Green-Green-600);
  --Color-Foreground-Upgrade: var(--Color-Purple-Purple-600);
  --Color-Foreground-Disabled: var(--Color-Neutral-Neutral-500);
  --Color-Background-Elevation-Base: var(--Color-White);
  --Color-Background-Elevation-Raised: var(--Color-White);
  --Color-Background-Elevation-Overlay: var(--Color-White);
  --Color-Background-Neutral: var(--Color-Neutral-Neutral-200-Opaque);
  --Color-Background-Neutral-Faded: var(--Color-Neutral-Neutral-100-Opaque);
  --Color-Background-Page: var(--Color-White);
  --Color-Background-Primary: var(--Color-Primary-Primary-800);
  --Color-Background-Primary-Highlighted: var(--Color-Primary-Primary-700);
  --Color-Background-Primary-Faded: var(--Color-Primary-Primary-200);
  --Color-Background-Critical-Highlighted: var(--Color-Red-Red-600);
  --Color-Background-Critical-Faded: var(--Color-Red-Red-100);
  --Color-Background-Warning: var(--Color-Orange-Orange-500);
  --Color-Background-Warning-Highlighted: var(--Color-Orange-Orange-600);
  --Color-Background-Warning-Faded: var(--Color-Orange-Orange-100);
  --Color-Background-Positive-Highlighted: var(--Color-Green-Green-600);
  --Color-Background-Positive-Faded: var(--Color-Green-Green-100);
  --Color-Background-Upgrade: var(--Color-Purple-Purple-600);
  --Color-Background-Upgrade-Highlighted: var(--Color-Purple-Purple-700);
  --Color-Background-Upgrade-Faded: var(--Color-Purple-Purple-100);
  --Color-Background-Disabled: var(--Color-Neutral-Neutral-200-Opaque);
  --Color-Background-Disabled-Faded: var(--Color-Neutral-Neutral-100-Opaque);
  --Color-Background-Focus-Highlight: var(--Color-Primary-Primary-400);
  --Color-Border-Neutral: var(--Color-Neutral-Neutral-500);
  --Color-Border-Primary: var(--Color-Primary-Primary-700);
  --Color-Border-Primary-Faded: var(--Color-Primary-Primary-400);
  --Color-Border-Critical: var(--Color-Red-Red-600);
  --Color-Border-Warning: var(--Color-Orange-Orange-600);
  --Color-Border-Warning-Faded: var(--Color-Orange-Orange-200);
  --Color-Border-Positive: var(--Color-Green-Green-600);
  --Color-Border-Upgrade: var(--Color-Purple-Purple-700);
  --Color-Border-Focus-Faded: var(--Color-Primary-Primary-400);
  --Color-On-Background-Neutral: var(--Color-Neutral-Neutral-900);
  --Color-Persistent-Black: var(--Color-Neutral-Neutral-900);
  --Color-Decorative-Blue-Foreground: var(--Color-Primary-Primary-600);
  --Color-Decorative-Blue-Background: var(--Color-Primary-Primary-200);
  --Color-Decorative-Blue-Border: var(--Color-Primary-Primary-400);
  --Color-Decorative-Green-Foreground: var(--Color-Green-Green-600);
  --Color-Decorative-Green-Background: var(--Color-Green-Green-100);
  --Color-On-Background-Primary: var(--Color-White);
  --Color-On-Background-Critical: var(--Color-White);
  --Color-On-Background-Warning: var(--Color-White);
  --Color-On-Background-Positive: var(--Color-White);
  --Color-On-Background-Upgrade: var(--Color-White);
  --Color-Persistent-White: var(--Color-White);
  --Color-Decorative-Purple-Foreground: var(--Color-Purple-Purple-600);
  --Color-Decorative-Purple-Background: var(--Color-Purple-Purple-100);
  --Color-Decorative-Red-Foreground: var(--Color-Red-Red-600);
  --Color-Decorative-Red-Background: var(--Color-Red-Red-100);
}