/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --dsprimary-dimension-spacing-semantic-stack-gap: 1px;
  --dsprimary-dimension-shadow-focus-ring-width: 3px;
  --dsprimary-dimension-font-weight-bold: 640px;
}