/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --dimensionspacingsemanticstackgap: 1px;
  --dimensionshadowfocusringwidth: 3px;
  --dimensionpalettemagentanumber: 0px;
  --dimensionnumber: 20px;
  --dimensionnumber2: 0px;
}