/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --spacespacing0: 0px;
  --spacespacing2: 2px;
  --spacespacing4: 4px;
  --spacespacing8: 8px;
  --spacespacing12: 12px;
  --spacespacing16: 16px;
  --spacespacing20: 20px;
  --spacespacing24: 24px;
  --spacespacing28: 28px;
  --spacespacing32: 32px;
  --spacespacing36: 36px;
  --spacespacing40: 40px;
}