/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --dsprimary-space-spacing-0: 0px;
  --dsprimary-space-spacing-2: 2px;
  --dsprimary-space-spacing-4: 4px;
  --dsprimary-space-spacing-8: 8px;
  --dsprimary-space-spacing-12: 12px;
  --dsprimary-space-spacing-16: 16px;
  --dsprimary-space-spacing-20: 20px;
  --dsprimary-space-spacing-24: 24px;
  --dsprimary-space-spacing-28: 28px;
  --dsprimary-space-spacing-32: 32px;
  --dsprimary-space-spacing-36: 36px;
  --dsprimary-space-spacing-40: 40px;
}