/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --space_spacing_0: 0px;
  --space_spacing_2: 2px;
  --space_spacing_4: 4px;
  --space_spacing_8: 8px;
  --space_spacing_12: 12px;
  --space_spacing_16: 16px;
  --space_spacing_20: 20px;
  --space_spacing_24: 24px;
  --space_spacing_28: 28px;
  --space_spacing_32: 32px;
  --space_spacing_36: 36px;
  --space_spacing_40: 40px;
}