/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --stringpalettemagentastring: "String value";
  --stringfontfamily: "Inter";
  --string: "String value";
  --stringfontfamilydefault: "Inter";
}