/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark {
  --Color-Foreground-Neutral-Faded: #9da8bb;
  --Color-Foreground-Placeholder: #7f8694;
  --Color-Background-Neutral-Highlighted: #d0e2ff14;
  --Color-Background-Page-Faded: #09122a;
  --Color-Background-Critical: #e22c2c;
  --Color-Background-Positive: #118850;
  --Color-Background-Blur: #fffffff2;
  --Color-Background-Blur-Neutral: #f4f5f7f2;
  --Color-Background-Blur-Neutral-Highlighted: #ecedf0f2;
  --Color-Border-Neutral-Faded: #22273a;
  --Color-Border-Critical-Faded: #fbd5d8;
  --Color-Border-Positive-Faded: #cdedd5;
  --Color-Border-Upgrade-Faded: #e3dbfa;
  --Color-Border-Disabled: #dfe2ea;
  --Color-Border-Focus: #4589ff;
  --Color-Decorative-Cyan-Foreground: #0e7490;
  --Color-Decorative-Cyan-Background: #d5fbfe;
  --Color-Decorative-Cyan-Border: #b6e9ec;
  --Color-Decorative-Fuchsia-Foreground: #b725cb;
  --Color-Decorative-Fuchsia-Background: #fcf0ff;
  --Color-Decorative-Fuchsia-Border: #f3d6f9;
  --Color-Decorative-Green-Border: #c9e6da;
  --Color-Decorative-Grey-Foreground: #4e536a;
  --Color-Decorative-Grey-Background: #edeff3;
  --Color-Decorative-Grey-Border: #e1e4eb;
  --Color-Decorative-Light-Grey-Foreground: #68718d;
  --Color-Decorative-Light-Grey-Background: #f6f7f9;
  --Color-Decorative-Light-Grey-Border: #e3e4e9;
  --Color-Decorative-Orange-Foreground: #c2410c;
  --Color-Decorative-Orange-Background: #fff2e1;
  --Color-Decorative-Orange-Border: #f9dbaf;
  --Color-Decorative-Pink-Foreground: #d12372;
  --Color-Decorative-Pink-Background: #fdf0f7;
  --Color-Decorative-Purple-Border: #e4dbfa;
  --Color-Decorative-Pink-Border: #fad6ea;
  --Color-Decorative-Red-Border: #fcd7da;
  --Color-Decorative-Teal-Foreground: #107a71;
  --Color-Decorative-Teal-Background: #e2fff8;
  --Color-Decorative-Teal-Border: #cae5df;
  --Color-Decorative-Yellow-Foreground: #a16207;
  --Color-Decorative-Yellow-Background: #fffde7;
  --Color-Decorative-Yellow-Border: #efe991;
  --Color-Primary-Primary-200: #edf5ff;
  --Color-Primary-Primary-400: #d0e2ff;
  --Color-Primary-Primary-500: #8cb4ff;
  --Color-Primary-Primary-600: #0f62fe;
  --Color-Primary-Primary-700: #004ee1;
  --Color-Primary-Primary-800: #104fc6;
  --Color-Red-Red-100: #fef1f2;
  --Color-Red-Red-600: #cb101d;
  --Color-White: #ffffff;
  --Color-Neutral-Neutral-100-Opaque: #141a2b05;
  --Color-Neutral-Neutral-200-Opaque: #182d660a;
  --Color-Neutral-Neutral-400: #606981;
  --Color-Neutral-Neutral-500: #c7cddb;
  --Color-Neutral-Neutral-900: #14171f;
  --Color-Green-Green-100: #ebfef6;
  --Color-Green-Green-600: #05751f;
  --Color-Purple-Purple-100: #f5f2fd;
  --Color-Purple-Purple-600: #874ce6;
  --Color-Purple-Purple-700: #6a2bbf;
  --Color-Orange-Orange-100: #fef8eb;
  --Color-Orange-Orange-200: #fbe5c5;
  --Color-Orange-Orange-500: #cc4d00;
  --Color-Orange-Orange-600: #b53c0a;
  --Color-Blue-200: #ffffff;
  --Color-Test: #5d2121;
  --Color-Test-1: #ffffff;
  --Color-Palette-Green-Green-1100: #0e2a21;
  --Color-Palette-Green-Green-1000: #1c4130;
  --Color-Palette-Green-Green-900: #2d6944;
  --Color-Palette-Green-Green-800: #3c884d;
  --Color-Palette-Green-Green-700: #4ca45a;
  --Color-Palette-Green-Green-600: #5ab261;
  --Color-Palette-Green-Green-500: #78c767;
  --Color-Palette-Green-Green-400: #8fda75;
  --Color-Palette-Green-Green-300: #a9e297;
  --Color-Palette-Green-Green-200: #ccf0c2;
  --Color-Palette-Green-Green-100: #ddf3d9;
  --Color-Palette-Green-Green-0: #eef9ec;
  --Color-Palette-Blue-Blue-1100: #00213f;
  --Color-Palette-Blue-Blue-1000: #18395d;
  --Color-Palette-Blue-Blue-900: #245685;
  /* This is our new main color :) */
  --Color-Palette-Blue-Blue-800: #306ca5;
  --Color-Palette-Blue-Blue-700: #3a79bd;
  --Color-Palette-Blue-Blue-600: #4587cd;
  --Color-Palette-Blue-Blue-500: #5196dd;
  --Color-Palette-Blue-Blue-400: #6aacef;
  --Color-Palette-Blue-Blue-300: #aad2f4;
  --Color-Palette-Blue-Blue-200: #cde3f7;
  --Color-Palette-Blue-Blue-100: #e0f1fe;
  --Color-Palette-Blue-Blue-0: #ecf8fe;
  /* Darkest aqua there is */
  --Color-Palette-Aqua-Aqua-1100: #0b2737;
  /* Slightly less aquatic, still deep as an ocean */
  --Color-Palette-Aqua-Aqua-1000: #193c4d;
  --Color-Palette-Aqua-Aqua-900: #265d71;
  --Color-Palette-Aqua-Aqua-800: #316c82;
  --Color-Palette-Aqua-Aqua-700: #3a8396;
  --Color-Palette-Aqua-Aqua-600: #4295ab;
  --Color-Palette-Aqua-Aqua-500: #54b5cb;
  --Color-Palette-Aqua-Aqua-400: #6ad3df;
  --Color-Palette-Aqua-Aqua-300: #91e2e1;
  --Color-Palette-Aqua-Aqua-200: #b5f0f1;
  --Color-Palette-Aqua-Aqua-100: #d0f7f8;
  --Color-Palette-Aqua-Aqua-0: #e0fbfb;
  --Color-Palette-Purple-Purple-1100: #1d1e36;
  --Color-Palette-Purple-Purple-1000: #2b2667;
  --Color-Palette-Purple-Purple-900: #453e96;
  --Color-Palette-Purple-Purple-800: #5a52b4;
  --Color-Palette-Purple-Purple-700: #6b62cc;
  --Color-Palette-Purple-Purple-600: #7d73e2;
  --Color-Palette-Purple-Purple-500: #8d84ed;
  --Color-Palette-Purple-Purple-400: #9e95ec;
  --Color-Palette-Purple-Purple-300: #c0c2f3;
  --Color-Palette-Purple-Purple-200: #d8d8f6;
  --Color-Palette-Purple-Purple-100: #eaeaf8;
  --Color-Palette-Purple-Purple-0: #f2f2f8;
  --Color-Palette-Neutral-Neutral-1100: #040404;
  --Color-Palette-Neutral-Neutral-1000: #182020;
  --Color-Palette-Neutral-Neutral-900: #293333;
  --Color-Palette-Neutral-Neutral-800: #384141;
  --Color-Palette-Neutral-Neutral-700: #545e5f;
  --Color-Palette-Neutral-Neutral-600: #70797a;
  --Color-Palette-Neutral-Neutral-500: #939a9b;
  --Color-Palette-Neutral-Neutral-400: #b1b6b7;
  --Color-Palette-Neutral-Neutral-300: #c9cccc;
  --Color-Palette-Neutral-Neutral-200: #dfe1e1;
  --Color-Palette-Neutral-Neutral-100: #f3f4f4;
  --Color-Palette-Neutral-Neutral-0: #ffffff;
  --Color-Palette-Teal-Teal-1100: #0b2427;
  --Color-Palette-Teal-Teal-1000: #1b3e3e;
  --Color-Palette-Teal-Teal-900: #2a6461;
  --Color-Palette-Teal-Teal-800: #357a7b;
  --Color-Palette-Teal-Teal-700: #42948e;
  --Color-Palette-Teal-Teal-600: #4aa69c;
  --Color-Palette-Teal-Teal-500: #58c1b2;
  --Color-Palette-Teal-Teal-400: #6addc6;
  --Color-Palette-Teal-Teal-300: #97e7d5;
  --Color-Palette-Teal-Teal-200: #c0f0e6;
  --Color-Palette-Teal-Teal-100: #d5f6ef;
  --Color-Palette-Teal-Teal-0: #e9f8f5;
  --Color-Palette-Pink-Pink-1100: #281821;
  --Color-Palette-Pink-Pink-1000: #4f1930;
  --Color-Palette-Pink-Pink-900: #872647;
  --Color-Palette-Pink-Pink-800: #a43b5b;
  --Color-Palette-Pink-Pink-700: #be4466;
  --Color-Palette-Pink-Pink-600: #cf517c;
  --Color-Palette-Pink-Pink-500: #de638b;
  --Color-Palette-Pink-Pink-400: #ee7fad;
  --Color-Palette-Pink-Pink-300: #f19bc0;
  --Color-Palette-Pink-Pink-200: #f4b8d4;
  --Color-Palette-Pink-Pink-100: #f7dcea;
  --Color-Palette-Pink-Pink-0: #fbeaf2;
  --Color-Palette-Red-Red-1100: #281212;
  --Color-Palette-Red-Red-1000: #641c18;
  --Color-Palette-Red-Red-900: #8d2d28;
  --Color-Palette-Red-Red-800: #b6403b;
  --Color-Palette-Red-Red-700: #ca4b45;
  --Color-Palette-Red-Red-600: #dc584a;
  --Color-Palette-Red-Red-500: #e56a5b;
  --Color-Palette-Red-Red-400: #ef8674;
  --Color-Palette-Red-Red-300: #f1a193;
  --Color-Palette-Red-Red-200: #f4bbb3;
  --Color-Palette-Red-Red-100: #f8d7d3;
  --Color-Palette-Red-Red-0: #fbebe9;
  --Color-Palette-Orange-Orange-1100: #2a140f;
  --Color-Palette-Orange-Orange-1000: #581d09;
  --Color-Palette-Orange-Orange-900: #8a341a;
  --Color-Palette-Orange-Orange-800: #bf5c29;
  --Color-Palette-Orange-Orange-700: #de763a;
  --Color-Palette-Orange-Orange-600: #e68246;
  --Color-Palette-Orange-Orange-500: #ee8e53;
  --Color-Palette-Orange-Orange-400: #f2a069;
  /* This is our main color. And this description will show inside the documentation */
  --Color-Palette-Orange-Orange-300: #f4b388;
  --Color-Palette-Orange-Orange-200: #f6c7a9;
  --Color-Palette-Orange-Orange-100: #f7ddce;
  --Color-Palette-Orange-Orange-0: #fceee4;
  --Color-Palette-Yellow-Yellow-1100: #2a1b08;
  --Color-Palette-Yellow-Yellow-1000: #4e2c0b;
  --Color-Palette-Yellow-Yellow-900: #8b4f1f;
  --Color-Palette-Yellow-Yellow-800: #b0772a;
  --Color-Palette-Yellow-Yellow-700: #d49b35;
  --Color-Palette-Yellow-Yellow-600: #f6be41;
  --Color-Palette-Yellow-Yellow-500: #f8ce4c;
  --Color-Palette-Yellow-Yellow-400: #fad961;
  --Color-Palette-Yellow-Yellow-300: #fbe17f;
  --Color-Palette-Yellow-Yellow-200: #fbe9a4;
  --Color-Palette-Yellow-Yellow-100: #fbeed1;
  --Color-Palette-Yellow-Yellow-0: #fef8e4;
  --Color-Palette-Magenta-Magenta-1100: #271a2c;
  --Color-Palette-Magenta-Magenta-1000: #3f1a4e;
  --Color-Palette-Magenta-Magenta-900: #642a73;
  --Color-Palette-Magenta-Magenta-800: #854091;
  --Color-Palette-Magenta-Magenta-700: #a04da3;
  --Color-Palette-Magenta-Magenta-600: #b659b4;
  --Color-Palette-Magenta-Magenta-500: #cc6bd5;
  --Color-Palette-Magenta-Magenta-400: #e38aef;
  --Color-Palette-Magenta-Magenta-300: #e3b1ee;
  --Color-Palette-Magenta-Magenta-200: #ecc7f4;
  --Color-Palette-Magenta-Magenta-100: #f5e4fa;
  --Color-Palette-Magenta-Magenta-0: #fcf0fe;
  --Color-Semantic-Primary-Primary-Active-Background: #453e96;
  --Color-Semantic-Primary-Primary-Hover-Background: #5a52b4;
  --Color-Semantic-Primary-Primary-Hover-Color: #ffffff;
  --Color-Semantic-Primary-Primary-Background: #6b62cc;
  --Color-Semantic-Primary-Primary-Color: #ffffff;
  --Color-Semantic-Text-Text-Inverse: #ffffff;
  --Color-Semantic-Text-Text-Subtext: #545e5f;
  --Color-Semantic-Text-Text-Headline: #293333;
  --Color-Semantic-Text-Text-Body: #384141;
  --Color-Semantic-Error-Error-Color: #b6403b;
  --Color-Semantic-Error-Error-Icon: #b6403b;
  --Color-Semantic-Error-Error-Border: #ef8674;
  --Color-Semantic-Error-Error-Background: #f8d7d3;
  --Color-Semantic-Warning-Warning-Color: #8b4f1f;
  --Color-Semantic-Warning-Warning-Icon: #ba7506;
  --Color-Semantic-Warning-Warning-Border: #fad961;
  --Color-Semantic-Warning-Warning-Background: #fbeed1;
  --Color-Semantic-Success-Success-Color: #2d6944;
  --Color-Semantic-Success-Success-Icon: #3c884d;
  --Color-Semantic-Success-Success-Border: #8fda75;
  --Color-Semantic-Success-Success-Background: #ddf3d9;
  --Color-Semantic-Info-Info-Color: #3a79bd;
  --Color-Semantic-Info-Info-Icon: #306ca5;
  --Color-Semantic-Info-Info-Border: #6aacef;
  --Color-Semantic-Info-Info-Background: #e0f1fe;
  --Color-Semantic-Opportunity-Opportunity-Color: #357a7b;
  --Color-Semantic-Opportunity-Opportunity-Icon: #357a7b;
  --Color-Semantic-Opportunity-Opportunity-Border: #6addc6;
  --Color-Semantic-Opportunity-Opportunity-Background: #d5f6ef;
  --Color-Semantic-Primary-Primary-Innactive-Background: #d8d8f6;
  --Color-Semantic-Primary-Primary-Border: #6b62cc;
  --Color-Semantic-Primary-Hover-Innactive-Background: #c0c2f3;
  --Color-Semantic-Sale-Sale70-Background: #ac7d13;
  --Color-Semantic-Sale-Sale50-Background: #b51d4e;
  --Color-Semantic-Sale-Sale30-Background: #5869c1;
  --Color-Semantic-Sale-Sale-Color: #b7b7b7;
  --Color-Dark-Blue: #ff0000;
  --Color-Test: #ffffff;
  --Color-Foreground-Neutral: var(--Color-White);
  --Color-Foreground-Primary: var(--Color-Primary-Primary-500);
  --Color-Foreground-Critical: var(--Color-Red-Red-600);
  --Color-Foreground-Warning: var(--Color-Orange-Orange-600);
  --Color-Foreground-Positive: var(--Color-Green-Green-600);
  --Color-Foreground-Upgrade: var(--Color-Purple-Purple-600);
  --Color-Foreground-Disabled: #c7cddb;
  --Color-Background-Elevation-Base: var(--Color-Neutral-Neutral-900);
  --Color-Background-Elevation-Raised: var(--Color-Neutral-Neutral-900);
  --Color-Background-Elevation-Overlay: var(--Color-Neutral-Neutral-900);
  --Color-Background-Neutral: #d0e2ff0f;
  --Color-Background-Neutral-Faded: #d0e2ff0a;
  --Color-Background-Page: #040a1e;
  --Color-Background-Primary: var(--Color-Primary-Primary-800);
  --Color-Background-Primary-Highlighted: var(--Color-Primary-Primary-700);
  --Color-Background-Primary-Faded: #004ee1;
  --Color-Background-Critical-Highlighted: var(--Color-Red-Red-600);
  --Color-Background-Critical-Faded: var(--Color-Red-Red-100);
  --Color-Background-Warning: var(--Color-Orange-Orange-500);
  --Color-Background-Warning-Highlighted: var(--Color-Orange-Orange-600);
  --Color-Background-Warning-Faded: var(--Color-Orange-Orange-100);
  --Color-Background-Positive-Highlighted: var(--Color-Green-Green-600);
  --Color-Background-Positive-Faded: var(--Color-Green-Green-100);
  --Color-Background-Upgrade: var(--Color-Purple-Purple-600);
  --Color-Background-Upgrade-Highlighted: var(--Color-Purple-Purple-700);
  --Color-Background-Upgrade-Faded: #f5f2fd;
  --Color-Background-Disabled: #d0e2ff12;
  --Color-Background-Disabled-Faded: var(--Color-Neutral-Neutral-100-Opaque);
  --Color-Background-Focus-Highlight: var(--Color-Primary-Primary-400);
  --Color-Border-Neutral: var(--Color-Neutral-Neutral-500);
  --Color-Border-Primary: var(--Color-Primary-Primary-700);
  --Color-Border-Primary-Faded: var(--Color-Primary-Primary-400);
  --Color-Border-Critical: var(--Color-Red-Red-600);
  --Color-Border-Warning: var(--Color-Orange-Orange-600);
  --Color-Border-Warning-Faded: var(--Color-Orange-Orange-200);
  --Color-Border-Positive: var(--Color-Green-Green-600);
  --Color-Border-Upgrade: var(--Color-Purple-Purple-700);
  --Color-Border-Focus-Faded: var(--Color-Primary-Primary-400);
  --Color-On-Background-Neutral: var(--Color-White);
  --Color-Persistent-Black: var(--Color-Neutral-Neutral-900);
  --Color-Decorative-Blue-Foreground: var(--Color-Primary-Primary-600);
  --Color-Decorative-Blue-Background: var(--Color-Primary-Primary-200);
  --Color-Decorative-Blue-Border: var(--Color-Primary-Primary-400);
  --Color-Decorative-Green-Foreground: var(--Color-Green-Green-600);
  --Color-Decorative-Green-Background: var(--Color-Green-Green-100);
  --Color-On-Background-Primary: var(--Color-White);
  --Color-On-Background-Critical: var(--Color-White);
  --Color-On-Background-Warning: var(--Color-White);
  --Color-On-Background-Positive: var(--Color-White);
  --Color-On-Background-Upgrade: var(--Color-White);
  --Color-Persistent-White: var(--Color-White);
  --Color-Decorative-Purple-Foreground: var(--Color-Purple-Purple-600);
  --Color-Decorative-Purple-Background: var(--Color-Purple-Purple-100);
  --Color-Decorative-Red-Foreground: var(--Color-Red-Red-600);
  --Color-Decorative-Red-Background: var(--Color-Red-Red-100);
}