/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark {
  --colorforegroundneutral: #f2ffff;
  --colorforegroundneutralfaded: #828ea7;
  --colorforegroundprimary: #75b9ff;
  --colorforegroundcritical: #ff7b7b;
  --colorforegroundwarning: #ff9561;
  --colorforegroundpositive: #71d887;
  --colorforegroundupgrade: #ca8bff;
  --colorforegrounddisabled: #49546b;
  --colorforegroundneutralplaceholder: #657088;
  --colorbackgroundelevationbase: #0c162e;
  --colorbackgroundelevationraised: #101b33;
  --colorbackgroundelevationoverlay: #152038;
  --colorbackgroundneutral: #91a0c013;
  --colorbackgroundneutralfaded: #91a0c00b;
  --colorbackgroundneutralhighlighted: #91a0c01b;
  --colorbackgroundpage: #0c162e;
  --colorbackgroundpagefaded: #081129;
  --colorbackgroundprimary: #104fc6;
  --colorbackgroundprimaryhighlighted: #0038ae;
  --colorbackgroundprimaryfaded: #5699ff1f;
  --colorbackgroundcritical: #c50027;
  --colorbackgroundcriticalhighlighted: #ac000f;
  --colorbackgroundcriticalfaded: #ff595d1f;
  --colorbackgroundwarning: #d0571e;
  --colorbackgroundwarninghighlighted: #b84100;
  --colorbackgroundwarningfaded: #f175411f;
  --colorbackgroundpositive: #008236;
  --colorbackgroundpositivehighlighted: #006d21;
  --colorbackgroundpositivefaded: #50b7691f;
  --colorbackgroundupgrade: #7f22fe;
  --colorbackgroundupgradehighlighted: #6d00e5;
  --colorbackgroundupgradefaded: #ac67ff1f;
  --colorbackgroundblur: #0c162ef2;
  --colorbackgroundblurneutral: #f4f5f7f2;
  --colorbackgroundblurneutralhighlighted: #0e1831f2;
  --colorbackgrounddisabled: #91a0c013;
  --colorbackgrounddisabledfaded: #141a2b05;
  --colorbackgroundfocushighlight: #d0e2ff;
  --coloronbackgroundneutral: #ffffff;
  --colorpersistentblack: #000000;
  --colorforegrounddecorativeblue: #66bbff;
  --colorbackgrounddecorativebluefaded: #4699ff1f;
  --colorforegrounddecorativecyan: #06d4f3;
  --colorbackgrounddecorativecyanfaded: #00b4d21f;
  --colorforegrounddecorativefuchsia: #ff65ff;
  --colorbackgrounddecorativefuchsiafaded: #ed3bff1f;
  --colorforegrounddecorativegreen: #36e16c;
  --colorbackgrounddecorativegreenfaded: #00c04c1f;
  --colorforegrounddecorativegrey: #acbfdc;
  --colorbackgrounddecorativegreyfaded: #8da0bb1f;
  --colorforegrounddecorativelightgrey: #bdbebe;
  --coloronbackgroundprimary: #ffffff;
  --colorbackgrounddecorativelightgreyfaded: #9e9e9e1f;
  --coloronbackgroundcritical: #ffffff;
  --coloronbackgroundwarning: #ffffff;
  --coloronbackgroundpositive: #ffffff;
  --coloronbackgroundupgrade: #ffffff;
  --colorpersistentwhite: #ffffff;
  --colordecorativelightgreyborder: #edeff3;
  --colorforegrounddecorativeorange: #ff9b2d;
  --colorbackgrounddecorativeorangefaded: #ef7a001f;
  --colorforegrounddecorativepink: #ff6bc7;
  --colorbackgrounddecorativepinkfaded: #ff46a81f;
  --colorforegrounddecorativepurple: #ca95ff;
  --colorbackgrounddecorativepurplefaded: #ab73ff1f;
  --colorforegrounddecorativered: #ff6f5e;
  --colorbackgrounddecorativeredfaded: #ff4a3d1f;
  --colorforegrounddecorativeteal: #1adbc3;
  --colorbackgrounddecorativetealfaded: #00baa41f;
  --colorforegrounddecorativeyellow: #eab600;
  --colorbackgrounddecorativeyellowfaded: #c996001f;
  --colorprimary200: #edf5ff;
  --colorprimary400: #d0e2ff;
  --colorprimary500: #8cb4ff;
  --colorprimary600: #0f62fe;
  --colorprimary700: #004ee1;
  --colorprimary800: #104fc6;
  --colorred100: #fef1f2;
  --colorred600: #cb101d;
  --colorneutral100opaque: #141a2b05;
  --colorneutral200opaque: #182d660a;
  --colorneutral400: #606981;
  --colorneutral500: #c7cddb;
  --colorneutral900: #14171f;
  --colorgreen100: #ebfef6;
  --colorgreen600: #05751f;
  --colorpurple100: #f5f2fd;
  --colorpurple600: #874ce6;
  --colorpurple700: #6a2bbf;
  --colororange100: #fef8eb;
  --colororange200: #fbe5c5;
  --colororange500: #cc4d00;
  --colororange600: #b53c0a;
  /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel enim id erat vestibulum luctus. */
  --color0001: #ffffff;
  /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel enim id erat vestibulum luctus. */
  --color0002: #953333;
  /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel enim id erat vestibulum luctus. */
  --color0003: #a2a731;
  --colorpalettegreen1100: #0e2a21;
  --colorpalettegreen1000: #1c4130;
  --colorpalettegreen900: #2d6944;
  --colorpalettegreen800: #3c884d;
  --colorpalettegreen700: #4ca45a;
  --colorpalettegreen600: #5ab261;
  --colorpalettegreen500: #78c767;
  --colorpalettegreen400: #8fda75;
  --colorpalettegreen300: #a9e297;
  --colorpalettegreen200: #ccf0c2;
  --colorpalettegreen100: #ddf3d9;
  --colorpalettegreen0: #eef9ec;
  /* Darkest aqua there is */
  --colorpaletteaqua1100: #0b2737;
  /* Slightly less aquatic, still deep as an ocean */
  --colorpaletteaqua1000: #193c4d;
  --colorpaletteaqua900: #265d71;
  --colorpaletteaqua800: #316c82;
  --colorpaletteaqua700: #3a8396;
  --colorpaletteaqua600: #4295ab;
  --colorpaletteaqua500: #54b5cb;
  --colorpaletteaqua400: #6ad3df;
  --colorpaletteaqua300: #91e2e1;
  --colorpaletteaqua200: #b5f0f1;
  --colorpaletteaqua100: #d0f7f8;
  --colorpaletteaqua0: #e0fbfb;
  --colorpalettepurple1100: #1d1e36;
  --colorpalettepurple1000: #2b2667;
  --colorpalettepurple900: #453e96;
  --colorpalettepurple800: #5a52b4;
  --colorpalettepurple700: #6b62cc;
  --colorpalettepurple600: #7d73e2;
  --colorpalettepurple500: #8d84ed;
  --colorpalettepurple400: #9e95ec;
  --colorpalettepurple300: #c0c2f3;
  --colorpalettepurple200: #d8d8f6;
  --colorpalettepurple100: #eaeaf8;
  --colorpalettepurple0: #f2f2f8;
  --colorpaletteneutral1100: #040404;
  --colorpaletteneutral1000: #182020;
  --colorpaletteneutral900: #293333;
  --colorpaletteneutral800: #384141;
  --colorpaletteneutral700: #545e5f;
  --colorpaletteneutral600: #70797a;
  --colorpaletteneutral500: #939a9b;
  --colorpaletteneutral400: #b1b6b7;
  --colorpaletteneutral300: #c9cccc;
  --colorpaletteneutral200: #dfe1e1;
  --colorpaletteneutral100: #f3f4f4;
  --colorpaletteneutral0: #ffffff;
  --colorpaletteteal1100: #0b2427;
  --colorpaletteteal1000: #1b3e3e;
  --colorpaletteteal900: #2a6461;
  --colorpaletteteal800: #357a7b;
  --colorpaletteteal700: #42948e;
  --colorpaletteteal600: #4aa69c;
  --colorpaletteteal500: #58c1b2;
  --colorpaletteteal400: #6addc6;
  --colorpaletteteal300: #97e7d5;
  --colorpaletteteal200: #c0f0e6;
  --colorpaletteteal100: #d5f6ef;
  --colorpaletteteal0: #e9f8f5;
  --colorpalettepink1100: #281821;
  --colorpalettepink1000: #4f1930;
  --colorpalettepink900: #872647;
  --colorpalettepink800: #a43b5b;
  --colorpalettepink700: #be4466;
  --colorpalettepink600: #cf517c;
  --colorpalettepink500: #de638b;
  --colorpalettepink400: #ee7fad;
  --colorpalettepink300: #f19bc0;
  --colorpalettepink200: #f4b8d4;
  --colorpalettepink100: #f7dcea;
  --colorpalettepink0: #fbeaf2;
  --colorpalettered1100: #281212;
  --colorpalettered1000: #641c18;
  --colorpalettered900: #8d2d28;
  --colorpalettered800: #b6403b;
  --colorpalettered700: #ca4b45;
  --colorpalettered600: #dc584a;
  --colorpalettered500: #e56a5b;
  --colorpalettered400: #ef8674;
  --colorpalettered300: #f1a193;
  --colorpalettered200: #f4bbb3;
  --colorpalettered100: #f8d7d3;
  --colorpalettered0: #fbebe9;
  --colorpaletteorange1100: #2a140f;
  --colorpaletteorange1000: #581d09;
  --colorpaletteorange900: #8a341a;
  --colorpaletteorange800: #bf5c29;
  --colorpaletteorange700: #de763a;
  --colorpaletteorange600: #e68246;
  --colorpaletteorange500: #ee8e53;
  --colorpaletteorange400: #f2a069;
  /* This is our main color. And this description will show inside the documentation */
  --colorpaletteorange300: #f4b388;
  --colorpaletteorange200: #f6c7a9;
  --colorpaletteorange100: #f7ddce;
  --colorpaletteorange0: #fceee4;
  --colorpaletteyellow1100: #2a1b08;
  --colorpaletteyellow1000: #4e2c0b;
  --colorpaletteyellow900: #8b4f1f;
  --colorpaletteyellow800: #b0772a;
  --colorpaletteyellow700: #d49b35;
  --colorpaletteyellow600: #f6be41;
  --colorpaletteyellow500: #f8ce4c;
  --colorpaletteyellow400: #fad961;
  --colorpaletteyellow300: #fbe17f;
  --colorpaletteyellow200: #fbe9a4;
  --colorpaletteyellow100: #fbeed1;
  --colorpaletteyellow0: #fef8e4;
  --colorpalettemagenta1100: #271a2c;
  --colorpalettemagenta1000: #3f1a4e;
  --colorpalettemagenta900: #642a73;
  --colorpalettemagenta800: #854091;
  --colorpalettemagenta700: #a04da3;
  --colorpalettemagenta600: #b659b4;
  --colorpalettemagenta500: #cc6bd5;
  --colorpalettemagenta400: #e38aef;
  --colorpalettemagenta300: #e3b1ee;
  --colorpalettemagenta200: #ecc7f4;
  --colorpalettemagenta100: #f5e4fa;
  --colorpalettemagenta0: #fcf0fe;
  --colorsemanticinfobackground: #e0f1fe;
  --colorsemanticinfoborder: #5196dd;
  --colorsemanticinfocolor: #3a79bd;
  --colorsemanticinfoicon: #306ca5;
  --colorsemanticwarningbackground: #ffffff;
  --colorforegroundprimaryfaded: #75b9ff;
  --colorforegroundcriticalfaded: #ff7b7b;
  --colorforegroundwarningfaded: #ff9561;
  --colorforegroundpositivefaded: #71d887;
  --colorforegroundupgradefaded: #ca8bff;
  --colorbackgroundblurneutralfaded: #f4f5f7f2;
  --colorbackgrounddecorativeblue: #2b7fff;
  --colorbackgrounddecorativecyan: #00d3f2;
  --colorbackgrounddecorativeteal: #00d5be;
  --colorbackgrounddecorativegreen: #31de69;
  --colorbackgrounddecorativeyellow: #fcc801;
  --colorbackgrounddecorativeorange: #ff8904;
  --colorbackgrounddecorativered: #fb2e27;
  --colorbackgrounddecorativepink: #f6339a;
  --colorbackgrounddecorativefuchsia: #e12afb;
  --colorbackgrounddecorativepurple: #8e51ff;
  --colorbackgrounddecorativegrey: #62748e;
  --colorbackgrounddecorativelightgrey: #d4d4d4;
  --coloronbackgrounddecorativeblue: #ffffff;
  --coloronbackgrounddecorativecyan: #001e3a;
  --coloronbackgrounddecorativeteal: #002116;
  --coloronbackgrounddecorativegreen: #002500;
  --coloronbackgrounddecorativeyellow: #421100;
  --coloronbackgrounddecorativeorange: #350000;
  --coloronbackgrounddecorativered: #ffffff;
  --coloronbackgrounddecorativepink: #ffffff;
  --coloronbackgrounddecorativefuchsia: #ffffff;
  --coloronbackgrounddecorativepurple: #ffffff;
  --coloronbackgrounddecorativegrey: #ffffff;
  --coloronbackgrounddecorativelightgrey: #262626;
  --colororange400: #ff9250;
  --colorborderneutral: #efffff26;
  --colorborderneutralfaded: #efffff13;
  --colorborderprimary: #75b9ff;
  --colorborderprimaryfaded: #3978f34d;
  --colorbordercritical: #ff7b7b;
  --colorbordercriticalfaded: #e2333f4d;
  --colorborderwarning: #ff9561;
  --colorborderwarningfaded: #ce551c4d;
  --colorborderpositive: #71d887;
  --colorborderpositivefaded: #2b984b4d;
  --colorborderupgrade: #ca8bff;
  --colorborderupgradefaded: #8f40ff4d;
  --colorborderdisabled: #dfe2ea;
  --colorborderfocus: #75b9ff;
  --colorborderdecorativeblue: #66bbff;
  --colorborderdecorativecyan: #06d4f3;
  --colorborderfocusfaded: #3978f34d;
  --colorborderdecorativeteal: #1adbc3;
  --colorborderdecorativegreen: #36e16c;
  --colorborderdecorativeyellow: #eab600;
  --colorborderdecorativeorange: #ff9b2d;
  --colorborderdecorativered: #ff6f5e;
  --colorborderdecorativepink: #ff6bc7;
  --colorborderdecorativefuchsia: #ff65ff;
  --colorborderdecorativepurple: #ca95ff;
  --colorborderdecorativegrey: #acbfdc;
  --colorborderdecorativelightgrey: #bdbebe;
  --colorborderdecorativebluefaded: #2479f84d;
  --colorborderdecorativecyanfaded: #0094b24d;
  --colorborderdecorativetealfaded: #009a864d;
  --colorborderdecorativegreenfaded: #009f294d;
  --colorborderdecorativeyellowfaded: #a977004d;
  --colorborderdecorativeorangefaded: #cc5a004d;
  --colorborderdecorativeredfaded: #ed17174d;
  --colorborderdecorativepinkfaded: #e112894d;
  --colorborderdecorativefuchsiafaded: #ca00e44d;
  --colorborderdecorativepurplefaded: #8e51ff4d;
  --colorborderdecorativelightgreyfaded: #8080804d;
  --colorborderdecorativegreyfaded: #6f829c4d;
  --colorbrandbase: #a74a7f;
  /* Used for error backgrunds */
  --colorsemanticerrorbackground: var(--colorpalettered100);
  --colorsemanticerrorborder: var(--colorpalettered600);
  --colorsemanticerrorcolor: var(--colorpalettered800);
  --colorsemanticerroricon: var(--colorpalettered800);
  --colorsemanticopportunitybackground: var(--colorpaletteteal100);
  --colorsemanticopportunityborder: var(--colorpaletteaqua300);
  --colorsemanticopportunitycolor: var(--colorpaletteaqua800);
  --colorsemanticopportunityicon: var(--colorpaletteaqua700);
  --colorsemanticprimaryhoverinnactivebackground: var(--colorpaletteyellow400);
  --colorsemanticprimaryactivebackground: var(--colorpaletteyellow600);
  --colorsemanticprimarybackground: var(--colorpaletteyellow500);
  --colorsemanticprimaryborder: var(--colorpaletteyellow600);
  --colorsemanticprimarycolor: var(--colorpaletteyellow1100);
  --colorsemanticprimaryhoverbackground: var(--colorpaletteyellow600);
  --colorsemanticprimaryhovercolor: var(--colorpaletteyellow1000);
  --colorsemanticprimaryinnactivebackground: var(--colorpaletteyellow200);
  /* Some test description */
  --colorsemanticsalesale30background: var(--colorpaletteteal500);
  --colorsemanticsalesale50background: var(--colorpalettepink600);
  --colorsemanticsalesale70background: var(--colorpaletteyellow600);
  --colorsemanticsalecolor: var(--colorpaletteneutral0);
  --colorsemanticsuccessbackground: var(--colorpalettegreen100);
  --colorsemanticsuccessborder: var(--colorpalettegreen400);
  --colorsemanticsuccesscolor: var(--colorpalettegreen900);
  --colorsemanticsuccessicon: var(--colorpalettegreen800);
  --colorsemantictextbody: var(--colorpaletteorange1000);
  --colorsemantictextheadline: var(--colorpaletteorange1100);
  --colorsemantictextinverse: var(--colorpaletteneutral0);
  --colorsemantictextsubtext: var(--colorpaletteneutral700);
  --colorsemanticwarningborder: var(--colorpaletteyellow600);
  --colorsemanticwarningcolor: var(--colorpaletteyellow900);
  --colorsemanticwarningicon: var(--colorpaletteyellow800);
  --color: var(--colorforegroundneutral);
}