/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark {
  --typographyh1: 700 57px/64px "Roboto";
  --typographyh2: 700 43px/50px "Roboto";
  --typographyh3: 700 32px/40px "Roboto";
  --typographyh4: 700 24px/32px "Roboto";
  --typographyh5: 700 21px/29px "Roboto";
  --typographylargelead: 400 24px/32px "Roboto";
  --typographymediumlead: 400 21px/29px "Roboto";
  --typographybuttonlabel: 400 21px/29px "Roboto";
  --typographyparagraph: 400 18px/26px "Roboto";
  --typographysmallparagraph: 400 16px/24px "Roboto";
  --typographytinyparagraph: 400 12px/24px "Roboto";
  --typographysale: 700 24px/34px "Roboto";
}